[2018-02-22 19:49] grounded042 opened #1 "Break LetsTrace into multiple packages"
We currently have multiple projects in LetsTrace. The NuGet way is to have different packages instead of building everything into one. I think this would also benefit us in keeping things separated.

We have the following packages:
- LetsTrace
- Thrift
- Jeager.Thrift

We could break these up and some namespaces inside of LetsTrace into the following:

- LetsTrace - the main, core implementation.

[2018-02-22 19:55] grounded042 commented on #1
We could also look at targeting the lowest netstandard version via these changes. Via OpenTracing we are tied to at least 1.3, but for anything pulling in Thrift it wants 2.0

[2018-03-01 12:38] grounded042 commented on #1
these packages have been broken out. We have [LetsTrace.Jaeger](https://github.com/Chatham/LetsTrace.Jaeger) and [LetsTrace.Zipkin](https://github.com/Chatham/LetsTrace.Zipkin)

[2018-03-01 12:38] #1 closed

[2018-03-01 12:38] grounded042 opened #2 "Upgrade to OpenTracing 0.11"

[2018-03-06 13:05] #2 closed

[2018-03-06 13:11] grounded042 opened #4 "Support Third Party Propagation"
In order to more fully support third party tracing systems we need to have something along the lines of a propagation registry like the Java client has.

[2018-03-13 12:19] grounded042 opened #5 "Bring in the improvements branch"
@Falco20019 has an improvements branch that we have both been working on (mostly him :)).

It would be nice to get this merged in an incorporated soon. I'm creating this so we can track what all needs to be done before we merge.

[2018-03-13 12:20] grounded042 commented on #5
@Falco20019 do you know what all needs to be done before you're ready to merge?

[2018-03-13 12:58] Falco20019 commented on #5
I think we only need to get the tests done. Functionality should be complete and on par with `jaeger-client-java`. A code review would also be nice, just to ensure maintainability. Right now, I'm filling in the missing tests based on coverage analysis.

I also would love to have thrift excluded and in an official NuGET package, but that only affects `LetsTrace.Jaeger`.

[2018-03-13 13:12] grounded042 commented on #5
I'm with you on the Thrift issue - we *could* publish the package ourself, but I really don't want to do that.

I'm working through tests - right now we are at 80% coverage and I'd like to get to at least 90%. As for a code review I'm going to have some other guys from Chatham take a look, but others are welcome.

We are starting to look at getting this into production, so we'll also be able to se

[2018-03-13 13:15] grounded042 commented on #5
My goal is to get this merged in by the end of the week.

[2018-03-13 13:19] Falco20019 commented on #5
@mweinand and @yurishkuro offered help, so maybe they could look into doing a code review. I'm out of office for the rest of this week, so I only will try to get tests and constants done the next couple hours. I assume, the rest of the TODOs can be postponed since they haven't been part of LetsTrace before and are also not mandatory according to https://github.com/jaegertracing/jaeger/issues/366

[2018-03-13 13:28] grounded042 commented on #5
I need to go through and change a lot of the TODOs to issues here on GitHub

[2018-03-13 13:29] grounded042 commented on #5
I'll look at getting things reviewed and merged by the end of the week and maybe when you come back we'll have a new package ready to go!

[2018-03-13 13:34] Falco20019 commented on #5
Sounds like a plan. I'm pretty happy with the improvements and how quickly we got them done so far. Thought it would take longer to implement :) Thanks for the support on the unit tests, greatly appreciate it.

[2018-03-13 13:35] grounded042 commented on #5
Yeah, no problem. Glad we could join forces on this project. Can't wait to see where it goes.

[2018-03-13 16:38] Falco20019 commented on #5
We are at 95% coverage now. `PerOperationSampling` needs some more love but I'm out of office now. Maybe someone could extend the `RemoteControlledSamplerTest`, which should cover nearly all of the uncover test surface. An `TODO` notice is left in the code.

[2018-03-13 16:54] yurishkuro commented on #5
you guys rock!

[2018-03-13 17:08] grounded042 commented on #5
@Falco20019 sweet! I've actually been working on the `PerOperationSampling` tests today, so we're all good!

[2018-03-14 19:45] grounded042 commented on #5
seeing if we could replace `NullReporter` with `LoggingReporter(NullLoggerFactory.Instance)` was mentioned above, but I'm going to leave the `NullReporter` in there as Java also has one. I like explicitly defining a null reporter.

[2018-03-14 19:49] grounded042 commented on #5
We have tests done with 99% coverage right now. I'm going to have some guys here at Chatham do the review to merge it in. Once that is complete we'll working on making sure LetsTrace.Jaeger merges in the improvements branch. Once that is done we can merge the two together and get working on moving everything into the jaegertracing org.

[2018-03-14 19:56] mweinand commented on #5
Nice work!

[2018-03-15 18:44] grounded042 commented on #5
This has been merged. I bumped the version and updated the README as well. Next step is to get the improvements branch merged into LetsTrace.Jaeger and then merge that repo with this. Before we execute the move to the Jaeger org we'll probably want to put some compiler warnings in for anyone using the lib under it's old name.

[2018-03-15 18:44] #5 closed

[2018-03-16 20:17] grounded042 opened #7 "Move to Jaeger Org"
Hey @yurishkuro we've been chatting at Chatham about getting tracing implemented and we've got a couple of questions about LetsTrace once we move it over to the Jaeger Org. We had talked before about ownership over the backlog (https://github.com/jaegertracing/jaeger/issues/578#issuecomment-370961906).

We're still wondering about the backlog and contributors - we have a skilled C# team that is go

[2018-03-16 22:18] yurishkuro commented on #7
The way we structure Jaeger repos is that there is a core team of maintainers, plus additional maintainers per individual repo. You should definitely be in the latter category. I'd leave it up to you to decide who exactly needs to have full commit rights at the time of the move.

[2018-03-17 20:16] grounded042 commented on #7
Perfect @yurishkuro. That's what I was thinking, but wanted to make sure.

[2018-03-20 10:13] luigiberrettini opened #8 "Example WebApi not building"
The Tracer constructor is private and a builder [should be used](https://github.com/Chatham/LetsTrace/blob/e680cf0a3679e5a40295e9ab386c84fb61ec3578/examples/LetsTrace.Example.WebApi/TracingWrapper.cs#L16) to create a tracer

[2018-03-20 12:05] grounded042 commented on #8
Hey @luigiberrettini, sorry about that. We'll get to that hopefully this week, though for now we are focusing on pulling in a big branch to LetsTrace.Jaeger. If you have a PR I'd be happy to take a look.

[2018-03-21 10:35] marcusdb commented on #8
Hello @grounded042 how can I see the branch you guys are going to pull? Is this a fork? I don´t see it anywhere on the project branches

[2018-03-21 11:39] grounded042 commented on #8
@marcusdb the branch we are looking to pull into LetsTrace.Jaeger is https://github.com/Falco20019/LetsTrace.Jaeger/tree/improvements. You might also find this issue of interest https://github.com/Chatham/LetsTrace.Jaeger/issues/2 as it outlines the plans moving forward to combine the two and move them over to the Jaeger org.

[2018-03-21 13:34] grounded042 opened #9 "Pull LetsTrace.Jaeger into this repo"

[2018-03-21 13:46] grounded042 commented on #9
I've opened a branch for this: https://github.com/Chatham/LetsTrace/tree/merge_jaeger

[2018-03-24 08:40] cwe1ss opened #12 "SpanBuilder must also look for an ActiveSpan in Start()"
Right now, only [`StartActive()`](https://github.com/Chatham/LetsTrace/blob/e680cf0a3679e5a40295e9ab386c84fb61ec3578/src/LetsTrace/SpanBuilder.cs#L55) takes an existing `tracer.ActiveSpan` as a parent. However, this must also be done in the regular `Start()` method. The only difference between `Start()` and `StartActive()` is that `StartActive()` *activates* the newly created span.

See: [Implemen

[2018-03-24 09:34] cwe1ss opened #14 "Consider using "OpenTracing.Contrib.NetCore" in examples"
What do you think about using [OpenTracing.Contrib.NetCore](https://github.com/opentracing-contrib/csharp-netcore) in the examples project? It does not require people to add a custom middleware and it has more features. This would give people better guidance on what to use in ASP.NET Core projects.

Your examples could then focus on how the LetsTrace tracer is initialized/configured. As it impleme

[2018-03-24 13:17] yurishkuro commented on #9
is this a dup of #7 ?

[2018-03-24 13:19] yurishkuro opened #15 "CI choice"
I noticed this repo uses AppVeyor for CI - is this just a preference or a convention for .Net projects (e.g. travis.org is not an option)?

[2018-03-24 13:40] cwe1ss commented on #15
@yurishkuro: Most .NET projects use AppVeyor because they use Windows machines and they have a very nice integration with .NET's package manager NuGet.

Building on Windows machines is still required if the project targets the full .NET framework (which this project currently does not - it targets the platform-independent ".NET Standard") or if it runs tests against the full .NET framework (which

[2018-03-24 22:03] grounded042 commented on #14
Good idea. I'll take a look.

[2018-03-26 07:24] Falco20019 commented on #4
Should be done by merging #5 since we have [Propagation/IPropagationRegistry.cs](https://github.com/Chatham/LetsTrace/blob/master/src/LetsTrace/Propagation/IPropagationRegistry.cs) now.

[2018-03-26 09:18] Falco20019 commented on #12
@SilverXXX Thanks for finding!
@cwe1ss Thanks for reporting and the PR!

[2018-03-26 11:42] grounded042 commented on #4
Yup, closing.

[2018-03-26 11:42] #4 closed

[2018-03-26 11:50] #12 closed

[2018-03-26 12:01] grounded042 commented on #15
We originally used AppVeyor as that's what we've used for other C# open source projects. But, I'm not opposed to using another system - especially if when the move to Jaeger org happens you guys want to use something different.

[2018-03-26 12:59] cwe1ss opened #20 "Add a build script for local execution and use it in AppVeyor"
Would be nice to have a `build.ps1` file which restores/builds/packs/tests locally. This would ensure we can submit PRs that don't fail on AppVeyor. AppVeyor should then also only call this script.

I'd be happy to send a PR with the script I'm using for several projects - e.g. in [opentracing-csharp](https://github.com/opentracing/opentracing-csharp/blob/master/build.ps1) if you like it. It's a s

[2018-03-26 13:25] grounded042 commented on #20
I think this is a good idea. I don't like when AppVeyor can fail but nothing did locally.

[2018-03-26 18:36] #20 closed

[2018-03-27 12:30] cwe1ss opened #29 "Should this project have parity with jaeger-client-java?"
If the plan is [to make this the official C# Jaeger client](https://github.com/jaegertracing/jaeger/issues/578), should this project be as close as possible to [`jaeger-client-java`](https://github.com/jaegertracing/jaeger-client-java)? I noticed that there's quite a few things missing or done differently right now. E.g. SpanContext is not immutable, metrics are implemented differently, there's `I

[2018-03-27 12:50] grounded042 commented on #29
Thanks for the offer @cwe1ss. Your help is definitely appreciated. When we first started on this project we did not have any idea of becoming the official C# client for Jaeger - however, things change and it looks like we are moving that way (which I think is a good thing).

We took a good bit of inspiration from the Java client in the beginning as well as the Go client, but we didn't do a straigh

[2018-03-27 13:07] cwe1ss commented on #29
I've been on a few big holidays as well - enjoy it and stay away from computers as far as you can! :smile: Where do you go?

Making it a near-clone of Java has the big advantage that we can do this *very* quickly, so we all would get a first fully-featured OpenTracing-compatible tracer ASAP.

Combining this tracer with the instrumentation-library [OpenTracing.Contrib.NetCore](https://github.com/op

[2018-03-27 14:11] yurishkuro commented on #29
Ramping up on features is a good idea. But I would suggest first focusing on wrapping up the migration to the jaeger org.

[2018-03-27 14:19] #9 closed

[2018-03-27 14:31] cwe1ss commented on #29
@grounded042 Sounds awesome!!! I hope you have good shoes! 😅

What's the ETA for moving the project to the Jaeger org? Anything else missing now that #10 has been merged?

[2018-03-27 14:33] grounded042 opened #30 "LetsTrace.Jaeger still contains `Field`"
With the removal of `Field` in #24 the LetsTrace.Jaeger project broke. Lets fix that.

[2018-03-27 14:35] cwe1ss commented on #30
Will you fix it or should I? It should now be possible to use the `case byte[] value` syntax in the `JaegerFieldExtensions.Marshal` method.

[2018-03-27 14:35] grounded042 commented on #29
I'd like to get the build passing. See #30. I'm trying to tackle that. Once we get that done I think we should be good to move.

Does anyone know how package name change on NuGet are handled? Should we push up one version of the package with build warnings on things like `Tracer` that notify people this is the last version of LetsTrace and that it will be under a different name on NuGet soon?

[2018-03-27 14:38] grounded042 commented on #30
I've got it open now and I'll take care of it. Was actually thinking of moving it to a static method since I don't feel like it's the best idea to put an extension method out there for `object`.

[2018-03-27 14:39] grounded042 commented on #30
And I did remember you mentioned that new switch syntax which is so nice.

[2018-03-27 14:44] grounded042 commented on #30
Unrelated to this specifically, but with moving ILRepack into the .csproj this no longer builds on MacOS for me. Not a big deal, but might be nice to figure that out. Not sure if there is a way to repack on MacOS.

[2018-03-27 14:48] cwe1ss commented on #29
Publishing a new version (from the last release tag) with a notice in the package description and [Obsolete] on something that everyone has to use would definitely be the most user-friendly version.

An easier (but not so friendly) option would be to just unlist all packages and hope that people will find the new packages by themselves. I guess that most people who are brave enough to use a 0.0.*

[2018-03-27 15:21] cwe1ss commented on #30
What error do you get? I can have a look at this.

[2018-03-27 15:27] Falco20019 commented on #29
I'm fine with getting it closer to the java version. A lot of parts that I ported have their roots in the java implementation. I also have some stuff from my own implementation that I started before jumping on the LetsTrace train ([jaeger-client-csharp](https://github.com/Falco20019/jaeger-client-csharp/tree/dev)). I'm sure there are already some parts of code that can be copied into the LetsTrace

[2018-03-27 16:09] grounded042 commented on #30
@cwe1ss the error is `LetsTrace/src/LetsTrace.Jaeger/LetsTrace.Jaeger.csproj(34,5): error MSB3073: The command "\.nuget\packages\ILRepack\2.0.15\tools\ilrepack.exe /parallel /internalize /out:LetsTrace.Jaeger.dll LetsTrace.Jaeger.dll Thrift.dll Jaeger.Thrift.dll" exited with code 127.`

It's probably because ILRepack is an exe that won't run on MacOS. Also for what it's worth Visual Studio on Wind

[2018-03-27 16:13] grounded042 commented on #29
Thanks @Falco20019! Also thank you for all the work you've done too. Great to see things come together on this. I would like to get it moved before I leave and if for some reason that doesn't happen then @kevindaviscfc and @PhillipChaffee will be able to handle things for you.

[2018-03-27 17:04] #30 closed

[2018-03-27 20:05] grounded042 commented on #7
I'm going to add some obsolete tags and bump the version so we can get this on Nuget. Then we should be good to move over to Jaeger org @yurishkuro.

In prep for that you'll probably want to have a https://www.nuget.org account set up so we can publish the packages. Also I think we probably will have to use Appveyor unless we can get ILRepack working on Linux / MacOS.

[2018-03-28 09:06] cwe1ss opened #34 "Rename projects to Jaeger.*"
I'll move the discussion regarding the new project names into this new issue to not let the original issue (https://github.com/jaegertracing/jaeger/issues/578 ) go off-topic.

[From @cwe1ss](https://github.com/jaegertracing/jaeger/issues/578#issuecomment-375861665):

-----------
[From @Falco20019](https://github.com/jaegertracing/jaeger/issues/578#issuecomment-376150297):

-----------
[From @cweis

[2018-03-28 09:37] cwe1ss opened #35 "Thrift library has dependencies on Microsoft.AspNetCore.* and Microsoft.Extensions.* libraries"
It seems like Thrift support for .NET is a huge mess. There's the original [csharp](https://github.com/apache/thrift/tree/master/lib/csharp) code base and there's also a newer [netcore](https://github.com/apache/thrift/tree/master/lib/netcore) code base. The latest `csharp` release is very old and doesn't target .NET Standard and the `netcore` project doesn't have any official NuGet releases yet.

[2018-03-28 11:31] cwe1ss commented on #35
I've been looking at another alternative: We can just remove the parts from the `netcore` code that depend on non-standard libraries. As far as I've seen that's just a handful of "Server" files. That will probably be the easiest solution.

[2018-03-28 11:54] grounded042 commented on #35
Thrift has been a pain from the begging for all of the reasons you outlined above. I don't like IL-merging it, but it seemed like the best option at the time. It would be nice if they responded to the ticket that @Falco20019 put in (https://issues.apache.org/jira/browse/THRIFT-4512).

If we go the route of removing parts from the `netcore` code would that mean that we are now maintaining our own T

[2018-03-28 12:04] grounded042 commented on #34
Here is what I'm thinking based on the above:

- `Jaeger.Core`
  - what is currently `LetsTrace`
- `Jaeger.Thrift`
  - the generated Thrift code
  - depends on wherever Thrift ends up, see #35
- `Jaeger.Transport.Thrift`
  - what is currently `LetsTrace.Jaeger`
  - depends on `Jaeger.Core` and `Jaeger.Thrift`
- `Jaeger.Transport.Zipkin`
  - what is currently `LetsTrace.Zipkin
  - depends on `Jaege

[2018-03-28 12:11] grounded042 commented on #7
@cwe1ss, @Falco20019, @yurishkuro I'm going to go ahead and add you guys to this project as we are at a good state to get moved over to the Jaeger org in the next couple of days.

Before we move I'd like to get things renamed so that right before the move we can do that version bump that has the obsolete info. Once we are over in the Jaeger org the Nuget deploy key on this repo will not work in Ap

[2018-03-28 12:50] cwe1ss commented on #35
I tested this and I only had to remove two files and change one, so merging thrift changes shouldn't be much harder. But of course, this is a horrible solution. You/we shouldn't have to maintain our own version of Thrift.

I created two new issues in their issue tracker:
* https://issues.apache.org/jira/browse/THRIFT-4534 (Packages should not depend on ASP.NET Core)
* https://issues.apache.org/jir

[2018-03-28 12:52] Falco20019 commented on #35
- I looked into using the official Thrift package, but it is 0.9.3 and that has no support for `netcore`.
- I also looked into using the `csharp` code with 0.9.3. Since `jaeger-idl` targets 0.9.2 this should be possible. Depending on whether we get `csharp` compiled using `netstandard2.0`. Still, I don't like maintaining a version of Thrift, and if users already use Thrift in their project, they s

[2018-03-28 13:01] Falco20019 commented on #34
I'm fine with @grounded042's proposal but would like to add one:
- `Jaeger`
  - just an alias since most people don't read manuals or getting started guides
  - depends on `Jaeger.Transport.Thrift`

[2018-03-28 14:26] yurishkuro commented on #35
Fwiw you don't need to be limited to 0.9.2. the IDL is compatible with many versions.

[2018-03-28 15:48] yurishkuro commented on #7
Ping me when ready to move.

The deploy key issues are probably easier to sort out once in the new location.

[2018-03-29 11:53] grounded042 opened #37 "Update README to match current code"
The README currently does not go along with all the code changes that happened in the last couple of weeks. Lets get that fixed.

[2018-03-30 15:03] grounded042 commented on #34
This is complete as of #38

[2018-03-30 15:03] #34 closed

[2018-03-30 15:04] grounded042 commented on #7
@yurishkuro I just merged the rename in #38. We are ready to move!

[2018-03-30 15:35] yurishkuro commented on #15
The README needs a fix, as its [Build|Passing] icon points to the old name.

[2018-03-30 15:35] yurishkuro commented on #7
Moved!!   Great work, everyone.

[2018-03-30 15:35] #7 closed

[2018-03-30 15:37] yurishkuro opened #39 "Add CONTRIBUTING.md"
model after other repos

[2018-03-30 15:38] yurishkuro opened #40 "Add DCO"
Model after main jaeger repo

[2018-03-30 15:51] cwe1ss commented on #15
@yurishkuro Can you add this project to the jaegertracing Travis account? I'll add a .travis.yml file.

As mentioned before, we would also need AppVeyor to build on Windows. There's certain features that are not possible on Linux. While we do not require any build-time features right now, we might very well need them soon (e.g. signing assemblies or targeting a specific version of the full .NET fr

[2018-03-30 16:09] yurishkuro commented on #15
@cwe1ss I made you an admin on this repo, so you should be able to manage CI, definitely Travis, not sure about appveyor. Might be faster than me being a proxy.

Could you elaborate why we need both?

[2018-03-30 18:07] grounded042 commented on #40
I added a DCO in #42.

[2018-03-30 18:08] grounded042 commented on #39
I added a CONTRIBUTING.md in #42. I think I got everything covered - @cwe1ss and @Falco20019 might have more to add.

[2018-03-30 18:09] grounded042 commented on #8
As of #38 the Example WebAPI builds.

[2018-03-30 18:09] #8 closed

[2018-03-30 19:31] #39 closed

[2018-03-30 19:31] #40 closed

[2018-03-30 19:34] yurishkuro commented on #15
Odd, when I synced my account on AppVeyor with GitHub, it created the project under my personal name https://ci.appveyor.com/project/yurishkuro/jaeger-client-csharp-5uj7p

@grounded042 do you know a better way to create a project so it looks like https://ci.appveyor.com/project/jaegertracing/jaeger-client-csharp ?

[2018-03-30 19:59] grounded042 commented on #15
@yurishkuro welcome to AppVeyor. The way they do user auth is super confusing and I think that you have to select the jaegertracing org when you sign in for it to appear where you want. I've run into the exact same problem that you have.

[2018-03-30 20:05] grounded042 commented on #15
@yurishkuro for instance when I sign into AppVeyor via Github I actually have to select `chatham` from the account dropdown and not `grounded042` to see https://ci.appveyor.com/project/chatham/letstrace. I think you have to be an admin or owner in an org to be able to sign in using the org.

Also, I don't think we need AppVeyor right now. To release something right now we can use Travis CI as the

[2018-03-30 22:11] trondhindenes commented on #37
:+1: on that. I'm trying to navigate the current landscape regarding Jaeger and c# and am going in circles due to missing/outdated docs.

It looks like this project is in the middle of a big move, so I'll keep watching.

[2018-03-31 07:19] Falco20019 commented on #37
@trondhindenes sorry to hear that. Yes, we have moved just yesterday to become the official library and still have some things to update. Just send me a message and I can look into helping you break your circle so that you can move on.

[2018-04-01 08:49] trondhindenes opened #43 "transport configuration for web api sample"
As far as I can see in the libary code, there aren't any "defaults" as to where to send traces (looking at the jaeger trhift transport class for instance). Also I cannot find any explicit definition of the required transport params in the example code, which leads me to believe that the example simply won't push traces anywhere. Is this right? It would be awesome with more explicit documentation a

[2018-04-01 09:01] Falco20019 commented on #43
I’m sorry but the documentation is still having some holes.

The example has only the LoggingReporter configured. To get a real endpoint change the Startup.cs and set a real reporter for the IReporter transient. For this, use:
new RemoteReporter.Builder(transport).Build();

Use the transport that you need, HTTP, UDP or Thrift: https://github.com/jaegertracing/jaeger-client-csharp/tree/master/src/J

[2018-04-01 09:46] trondhindenes commented on #43
Gotcha, thanks for answering. Tracing is a "long game" for us, so we'll wait until documentation solidifies before attempting to do anything in c# I think.

[2018-04-01 09:46] #43 closed

[2018-04-01 16:29] grounded042 commented on #37
I'm hoping to get the README up to date this week along with a better example. When I originally wrote the example, Jaeger wasn't the main use case so we didn't hook into it. Now that it is I would like to have an example that actually hooks up to Jaeger.

@trondhindenes I'm assuming you are currently pulling in the LetsTrace packages?

[2018-04-01 17:39] yurishkuro commented on #37
Would be great if someone wrote a .NET version of the OT tutorials using Jaeger binding

https://github.com/yurishkuro/opentracing-tutorial

[2018-04-01 17:39] yurishkuro opened #44 "Extend OpenTracing tutorials with .NET + Jaeger example"
https://github.com/yurishkuro/opentracing-tutorial

[2018-04-02 16:25] grounded042 opened #46 "Add size checking in transport"
Currently we do not check the buffer byte size in the `Jaeger.Transport.Thrift.Transport.JaegerThriftTransport` class. This can lead to the exception `Cannot flush closed transport. Message too long`. I have seen the exception when using the `JaegerUdpTransport`, but not the `JaegerHttpTransport` In other Jaeger client implementations there are checks to make sure exceptions like that do not happe

[2018-04-02 16:38] yurishkuro commented on #46
not only client side exceptions - if the total UDP packet size exceeds 65000, the jaeger-agent will not be able to process it.

HTTP transport does not have these limitations.

[2018-04-02 17:09] grounded042 commented on #46
Thanks for the info @yurishkuro. I'm hoping to tackle this today.

[2018-04-03 10:36] MikeGoldsmith commented on #15
@yurishkuro when you enable a repo in AppVeyor you nee to select it from correct org (each org you're a member of shows it's available repositories). That will ensure you get `{org}/{project}`, I've accidentally picked a fork of the official repository many times.

On the CI front, as discussed above, AppVeyor was the defacto choice because until .NET core you could only build on Windows reliably.

[2018-04-03 10:40] Falco20019 commented on #37
I should have a bit of time this friday. So if no one else tackles it earlier, I will get it done :)

[2018-04-03 10:42] Falco20019 commented on #44
If anyone want's to tackle it, feel free! I will have a look at it on friday if the issue is still unresolved :)

[2018-04-03 12:07] grounded042 commented on #46
@yurishkuro is there a good way to determine the emit batch overhead? I ported `TestEmitBatchOverhead` to C# from https://github.com/jaegertracing/jaeger-client-go/blob/b7bacc465f385658dd3586f58810226776d2a4bf/transport_udp_test.go#L57 and I'm seeing a max overhead of 22. However, I'm unable to set the Client SeqId like in the go tests. I did not see anything in the Java client on how they determi

[2018-04-03 15:14] yurishkuro commented on #46
Yes, the technique is different by language due to different thrift APIs. I think the simplest thing is to use BINARY encoding, instead of COMPACT encoding, to avoid variable size numbers which were the cause of the complexity in the Go implementation. I think the impact on the message size from compact encoding is really minimal.

[2018-04-03 15:18] yurishkuro commented on #15
I picked it like this:

![image](https://user-images.githubusercontent.com/3523016/38258419-68f24144-3730-11e8-97d3-51055c2f40a2.png)

I am guessing I also need to be on the org **account**, but I don't know how that can be achieved - does it need a separate login & password?  I don't have any other accounts in the profile dropdown.

![image](https://user-images.githubusercontent.com/3523016/38258

[2018-04-03 15:30] MikeGoldsmith commented on #15
What you have looks correct. Not sure why it's not working as expected. AppVeyor's support is normally pretty good, even on free accounts - [forum](https://help.appveyor.com/) / [email](mailto:team@appveyor.com)

[2018-04-03 16:14] yurishkuro commented on #15
Just read a few of their support issues on forum, the github org support is not there. I don't want to waste time on this so I just renamed my account to jaegertracing and now the project name is good: https://ci.appveyor.com/project/jaegertracing/jaeger-client-csharp

Since I am logging in with github, I don't have to manage an extra password, so it's good enough. And I can add other collaborator

[2018-04-05 19:41] grounded042 opened #48 "Publish NuGet for new name"
We need to get the package published under it's new name(s) in NuGet. I know `Jaeger.Thrift` and `Jaeger.Thrift.VendoredThrift` will require a transfer of ownership on NuGet. @yurishkuro my last day at work is tomorrow. Any chance we could get this setup before the end of day on 4/6/2018?

[2018-04-05 19:52] yurishkuro commented on #48
can you elaborate what I need to do?

[2018-04-05 20:05] grounded042 commented on #48
You'll need to have an account for Jaeger on NuGet.org. Once you create that I can add you as an owner on the two packages mentioned above. To get the rest publishing you will need to create an API Key on NuGet.org, sign into your AppVeyor account and encrypt the API Key using https://ci.appveyor.com/tools/encrypt, and put that encrypted value at https://github.com/jaegertracing/jaeger-client-csha

[2018-04-05 21:12] yurishkuro commented on #48
This is my account https://www.nuget.org/profiles/javajumbo

I assume it doesn't need to be called Jaeger?

[2018-04-05 21:47] grounded042 commented on #48
It does not. However the packages will publish as that user.

[2018-04-06 12:37] grounded042 commented on #46
Fixed in #47

[2018-04-06 12:37] #46 closed

[2018-04-06 15:33] grounded042 commented on #48
@yurishkuro I've added you as an owner to the two packages already on NuGet.org. Once you add an API key to the AppVeyor config as I outlined above we can publish the rest of the packages automatically with the AppVeyor build.

[2018-04-06 17:01] Falco20019 commented on #44
Takes some more time then expected, since the lessons 3-4 are not so trivial to keep simple and understandable without too much ASP.NET Core code. Will have to continue next week.

[2018-04-06 17:54] yurishkuro commented on #48
@grounded042 done

[2018-04-06 18:15] yurishkuro commented on #48
@grounded042 I only have ownership of two packages on NuGet, but the build seems to be trying to upload more artifacts (and failed - https://ci.appveyor.com/project/jaegertracing/jaeger-client-csharp-gfqrm/build/6)
[code]

[2018-04-06 18:33] grounded042 commented on #48
Something is up with the API key

[2018-04-06 18:43] yurishkuro commented on #48
I defined the key to cover `Jaeger.*`:

![image](https://user-images.githubusercontent.com/3523016/38438559-d189fc04-39a8-11e8-935d-d00a4a524421.png)

[2018-04-06 18:50] grounded042 commented on #48
@yurishkuro we also have the package `Jaeger`, so `Jaeger.*` would not cover that.

[2018-04-06 18:55] yurishkuro commented on #48
That's what I meant, I don't have any other packages under my profile aside from these two. So I think the build is failing on permissions, not on the key itself being bad.

[2018-04-06 18:55] yurishkuro commented on #48
![image](https://user-images.githubusercontent.com/3523016/38439131-868f0b0c-39aa-11e8-8eab-cee895b7ac2b.png)

[2018-04-06 19:01] grounded042 commented on #48
Hmm. Maybe you have to define it without any package restraints first and then add them after they are pushed up?

[2018-04-06 19:01] grounded042 commented on #48
My thinking is it might see that it can only push two packages so even though one of those is a brand new one it can't push it since it's not whitelisted.

[2018-04-06 19:07] yurishkuro commented on #48
Trying a different key with `Jaeger*` glob.

[2018-04-06 19:32] yurishkuro commented on #48
@grounded042 I think it worked

[2018-04-06 19:32] grounded042 commented on #48
It lives! https://www.nuget.org/packages/Jaeger/

[2018-04-06 19:33] yurishkuro opened #49 "Package points to Chatham release notes"
https://www.nuget.org/packages/Jaeger.Thrift/ says

Release Notes https://github.com/Chatham/LetsTrace/releases

not sure where this link is coming from

cc @grounded042

[2018-04-06 19:35] yurishkuro commented on #49
Also these should be updated

Authors
Chatham Financial Corp.

Copyright
Copyright 2018 (c) Chatham Financial Corp. All rights reserved.

[2018-04-06 19:38] yurishkuro commented on #49
Found it, it's all in https://github.com/jaegertracing/jaeger-client-csharp/blob/master/Directory.Build.props

[2018-04-06 19:55] yurishkuro commented on #48
Unless there's something else that needs to be done, I am going to close this.

[2018-04-06 19:55] #48 closed

[2018-04-07 16:33] #49 closed

[2018-04-07 17:59] yurishkuro opened #51 "Document current client features"
While #29 talks about extending the features, it would be good to validate & update the feature matrix for C# client here: https://www.jaegertracing.io/docs/client-features/

[2018-04-09 11:11] Falco20019 commented on #44
I internally assigned the issue to my colleague @saschaholesch since it's a good opportunity to get him into OpenTracing and prepare the tutorial also for other of my colleagues.

[2018-04-10 16:14] cwe1ss opened #52 "Reporting spans with JaegerHttpTransport fails with ObjectDisposedException"
This seems to happen after a few sends or after a few seconds. I was using a batch size of 3.

I will probably have time to look at this in the next 1-3 days but if anyone wants to jump in, feel free to do so and just let me know in the comments.

[code]

[2018-04-12 19:03] cwe1ss commented on #29
I've been trying to get parity by doing PRs for each module (e.g. #54 ) but this is quite annoying as it often affects many other modules as well.

For that reason, I've been working on a (very) BIG port. I have a WIP (it doesn't yet compile and some stuff is still missing) in the [cweiss/JavaParity](https://github.com/jaegertracing/jaeger-client-csharp/tree/cweiss/JavaParity) branch and I will pr

[2018-04-12 19:17] Falco20019 commented on #29
I‘m fine with a bigger PR. Depending on when you get it done, I would have a look. I will also have a look at your branch tomorrow to get a first glimpse since I have to leave 5pm tomorrow for a birthday and since the weekend is pretty stuffed.

[2018-04-16 08:09] Falco20019 commented on #14
One main problem we have, is that flushing for the `RemoteReporter` is right now only done on disposal. But since `ITracer` is not implementing `IDisposable` it's not called when the application is stopping. In my [java oriented implementation](https://github.com/Falco20019/jaeger-client-csharp/blob/dev/JaegerClientCsharp/Jaeger/Reporters/RemoteReporter.cs), I had a peridoc flush task. We need to

[2018-04-20 07:37] Falco20019 commented on #29
Maybe this is the better place for the parity discussion. There are some open discussion points for after #55 is merged. This is just to have everything on one starting point. For some points it's better to start of a new issue later on.

- How close do we want to stay to the Java code base:
  - Technically identical but making use of C# features?
  - Making use of partial classes for better struc

[2018-04-20 13:26] secana opened #56 "Trouble getting traces into Jaeger"
First: Love this project! Hopefully we can use it to trace all of our messages in our EEA.

My Problem: I've played around with the C# API a bit in the last days but I've trouble getting the traces into my Jaeger instance. Maybe someone here can help me and provide an useful code snippet.

What I did:
Start Jaeger in a stand-alone Docker container with
`docker run -d --name jaeger --rm -p6831:6831

[2018-04-20 13:39] Falco20019 commented on #56
Hi @secana, thanks for your interest in the project! The problem is, that you are using the `WithReporter` method combined with the `WithTransport` method. This should throw an exception since it's not supported. Technically, the `WithTransport` method creates an `IReporter` for usage with the tracer. If you define a `IReporter` instance yourself, that overrides it. What you have to use right now

[2018-04-21 08:02] cwe1ss opened #57 "Jaeger and the `Microsoft.Extensions.*` stack (DI, Configuration, Logging)"
ASP.NET Core services are a one of the main targets of this library so it should be as easy as possible to set up a tracer there. We should therefore support the following modules/libraries:

* `Microsoft.Extensions.Configuration`: A developer should be able to configure Jaeger from environment variables, config files, etc. - The `Microsoft.Extensions.Configuration` library supports many different

[2018-04-21 08:05] cwe1ss commented on #52
Quick note: I haven't yet had this behavior with #55 so this should be resolved if we merge that PR.

[2018-04-21 12:09] secana commented on #56
@Falco20019 thx for the quick answer. It works now!

[2018-04-21 12:09] #56 closed

[2018-04-21 16:53] yurishkuro commented on #57
Don't put too much weight to my opinion as I am not familiar with .NET ecosystem, but from what you described, as well as general design considerations, I would suggest:
  * having no `*.Extensions.*` dependencies in the core module, and
  * providing a separate module that has the dependencies and extra functionality

I am a bit surprised there is no standard logging API in .NET, but seeing how t

[2018-04-26 06:43] Falco20019 commented on #57
Sorry for just answering now. I would strongly push towards scenario 2. We are using it with .NET Standard and only in some cases with ASP.NET Core. Therefore I would like to have the amount of dependencies at a minimum and use `Microsoft.Extensions.Logging.Abstractions`.

[2018-05-14 21:46] Falco20019 commented on #52
Something that we should check again now that #55 is merged. The assumption is that it‘s gone.

[2018-05-14 21:55] Falco20019 commented on #14
This has been resolved by #55.

[2018-05-14 21:55] #14 closed

[2018-05-20 07:45] cwe1ss commented on #52
Yes, I couldn't reproduce it with the current code.

[2018-05-20 07:45] #52 closed

[2018-05-20 08:31] cwe1ss opened #62 "v0.0.10 release plan"
Now that #55 and #59 are merged, we should do a release soon.

My main open question is whether we should wait for the upcoming v0.12.0 release of OpenTracing? I'd like to release that one by the end of next week.

Anything else that should be included?

[2018-05-20 12:02] Falco20019 commented on #62
Let's wait for #61 and `OpenTracing v0.12.0`. Should be fine if it's just one more week.

[2018-05-20 12:05] Falco20019 commented on #44
This will be solved by merging https://github.com/saschaholesch/opentracing-tutorial/ (just awaiting #62).

[2018-05-21 18:01] mweinand commented on #57
Just to add some additional background, there is nothing stopping someone from using Microsoft.Extensions.Logging (and .Abstractions) in something other than ASP.Net Core.  It targets .net standard so its full compatible all over the ecosystem.  I have several .net framework 4.7 console apps using it.

[2018-05-23 04:52] DevWithLin opened #64 "Support Byte-Code-Injection in Net Or NetCore?"
just like skywalking java agent or pinpoint java agent,which was supporting byte-code-injection.
so jaeger-client-csharp is supporting in net core?

[2018-05-23 05:09] yurishkuro commented on #64
This is the main reason the OpenTracing project was created. The instrumentation, either explicit or based on byte-code manipulation, does not need to be tied to the tracing backend or a tracing library being used. We as an industry need to stop redoing the same instrumentation work over and over. Jaeger libraries implement the OpenTracing API, nothing more. If there is existing instrumentation th

[2018-05-23 07:02] yurishkuro commented on #64
there was an initial attempt to build an OpenTracing agent for auto-instrumentation, but I don't think it has been maintained since then: https://github.com/opentracing-contrib/java-agent

[2018-05-23 07:31] DevWithLin commented on #64
en, because i  have no idea that net core auto-instrumentation implement.which is  first issue import point. i just be curious net core implement. i thought jaeger-client-csharp already implemet.
[appdynamic answer](https://community.appdynamics.com/t5/NET-Agent-Installation/Byte-Code-Injection/td-p/30656).
[Profiling Overview](https://docs.microsoft.com/zh-cn/dotnet/framework/unmanaged-api/profil

[2018-05-24 05:52] #64 closed

[2018-05-24 19:15] Falco20019 commented on #62
Should be released tomorrow :) OpenTracing v0.12.0 for which we waited is released now. So just some reviews left.

Configuration will be easier with the new version. I also plan to get the tutorial for C# merged tomorrow.

[2018-05-24 20:42] ScottGuymer commented on #62
Ok thats good news. Ill configure against a local build for now.

Im also happy to contribute back anything I can too.

[2018-05-25 10:43] Falco20019 commented on #62
@cwe1ss I think we now have everything ready for v0.0.10 👍 Can you push the artifacts to NuGet?

[2018-05-25 11:13] cwe1ss commented on #64
If you're on .NET Core you could use https://github.com/opentracing-contrib/csharp-netcore - it automatically adds OpenTracing-compatible instrumentation for outgoing HTTP calls, Entity Framework calls, ASP.NET Core requests etc.

Our example already uses that library - see here: https://github.com/jaegertracing/jaeger-client-csharp/blob/239251ada6168960b7dd5abdd135dbe26412bd11/examples/Jaeger.Exa

[2018-05-25 11:27] cwe1ss commented on #62
I couldn't do the release because the NuGet credentials in the appveyor.yml seem to be wrong ([build output](https://ci.appveyor.com/project/jaegertracing/jaeger-client-csharp/build/19)). I will create a separate issue with instructions for Yuri.

[2018-05-25 11:42] cwe1ss opened #66 "Create NuGet organization and assign permissions"
@yurishkuro We currently can't deploy because the NuGet credentials in our appveyor.yml file are wrong. Could you please do the following things - this will ensure that we have a similar setup like the [OpenTracing NuGet account](https://www.nuget.org/profiles/OpenTracing) where multiple people have access to the NuGet packages:

* Login on nuget.org with your "javajumbo" account
* [Add a new orga

[2018-05-25 11:46] Falco20019 commented on #62
Very strange, since we changed it [here](https://github.com/jaegertracing/jaeger-client-csharp/issues/48#issuecomment-379360086) the last time. Thanks for informing @yurishkuro

[2018-05-25 11:58] Falco20019 commented on #66
My NuGet user name is also `falco20019`.

[2018-05-25 19:46] yurishkuro commented on #66
added to https://www.nuget.org/organization/JaegerTracing

[2018-05-25 19:57] cwe1ss commented on #66
thank you @yurishkuro! I'll take care of the rest!

[2018-05-25 19:57] #66 closed

[2018-05-25 21:55] cwe1ss commented on #62
The release succeeded this time! 🍻

As we're no longer using the `Jaeger.Core` and `Jaeger.Transport.Thrift` packages, I'd like to unlist all previous Jaeger versions on NuGet.org to reduce confusion. Any objections?

[2018-05-26 06:26] Falco20019 commented on #62
Yes, I think unlisting them should be the cleanest option.

[2018-05-26 06:31] #15 closed

[2018-05-26 06:59] cwe1ss commented on #62
I unlisted these packages.

[2018-05-26 06:59] #62 closed

[2018-05-26 19:43] yurishkuro commented on #64
@cwe1ss would be awesome to have a small blog post about this instrumentation and the example under https://medium.com/jaegertracing

[2018-05-28 07:47] Falco20019 opened #68 "Self referencing loop when using LoggingReporter"
With the dropping of [IJaegerCoreSpan](https://github.com/jaegertracing/jaeger-client-csharp/pull/55/files#diff-5cf05b611581a56a5de3cb4d55a24902L17) in #55, the `JsonIgnore` attribute from `Tracer` was removed. This is needed to resolve a referencing loop in `JsonConvert` used by `LoggingReporter`. Right now, logging throws this exception:

**Newtonsoft.Json.JsonSerializationException:** 'Self ref

[2018-05-28 09:41] cwe1ss commented on #68
jaeger-client-java [uses `toString()` in the logger](https://github.com/jaegertracing/jaeger-client-java/blob/3ffaf9d753fe96a1925729d42fd371a0a166c03b/jaeger-core/src/main/java/io/jaegertracing/reporters/LoggingReporter.java#L42) which then [outputs a few details about the span](https://github.com/jaegertracing/jaeger-client-java/blob/3ffaf9d753fe96a1925729d42fd371a0a166c03b/jaeger-core/src/main/j

[2018-05-28 11:19] Falco20019 commented on #68
Ok, so I assumed that you kept it on purpose from `LetsTrace`. So in that case, it would really be better to just use the `ToString` to keep it similar to `jaeger-client-java`. I'm just adjusting https://github.com/saschaholesch/opentracing-tutorial/tree/csharp to get it ready for merging. Therefore I'm stumbling over a lot of the console logging stuff.

[2018-05-28 13:32] #68 closed

[2018-05-29 04:52] Falco20019 commented on #29
I will create separate issues for the remaining discussions and will afterwards close this issue since we decided to get closer to Java but still take the freedom to use C# features when it makes sense.

[2018-05-29 08:52] Falco20019 opened #73 "Use partial classes"
The follow-up discussion from [here](https://github.com/jaegertracing/jaeger-client-csharp/pull/55#discussion_r182720647).

The open questions are:
* Do we want to have stuff more seperated or stay closer to Java for easier maintaining

Restructuring the code base has no effect on the API, so it is a purely internal choice.

[2018-05-29 08:55] Falco20019 opened #74 "Only Builders, no Constructors"
The follow-up discussion from [here](https://github.com/jaegertracing/jaeger-client-csharp/pull/55#discussion_r182720778).

The open questions are:
* Do we want to only have `Builders` and make all `ctors` consistently `private`
* Do we want to stay close to Java in this case?

I assume this to become a meta topic, since it would be best to stay close to Java in this case, since it affects the API

[2018-05-29 09:05] Falco20019 opened #75 "Separation of TraceId and SpanId"
The follow-up discussion from [here](https://github.com/jaegertracing/jaeger-client-csharp/pull/55#issue-182303816).

The open questions are:
* Do we want to keep `TraceId` and `SpanId` separate?
* Do we want to stay close to Java in this case?

I like the separation more than the Java implementation. As of now, `jaeger-client-java` only supports 64bit `TraceId`s. We also default to 64bit and are

[2018-05-29 09:13] Falco20019 opened #76 "Dependency on Thrift"
The follow-up discussion from [here](https://github.com/jaegertracing/jaeger-client-csharp/pull/55#issuecomment-382172354).

The open questions are:
* Do we want to keep our dependency on `Thrift`?

Java thinks about modularization and using `Configuration` and `service load pattern` to only load what's needed. We would have to analyze how to do this in C#. I assume it would be similar to how `Mic

[2018-05-29 09:15] Falco20019 opened #77 "Shift from ISender to ITransports and IEncoders"
The follow-up discussion from [here](https://github.com/jaegertracing/jaeger-client-csharp/pull/55#issuecomment-382797693).

The open questions are:
* Do we want to shift from `ISender` to `ITransports` and `IEncoders`

This is definetly a meta topic, but I think it still would be good to have a local look at it first. Makes aggregating points for and against in the main issue easier.

[2018-05-29 09:15] #29 closed

[2018-05-30 07:00] Falco20019 commented on #44
This will be fixed by https://github.com/yurishkuro/opentracing-tutorial/pull/21

[2018-05-31 03:31] yurishkuro commented on #75
I assume the question is about _types_, not _values_. In Go we have separate `TraceID` and `SpanID` types, but the former is a two-field by-value struct and the latter is an alias to uint64 (so also by-value), so that both are embedded into the `SpanContext` struct without requiring memory allocations. Don't know how much overhead memory allocations and gc add in C#. I suspect once we add 128bit I

[2018-05-31 04:52] #37 closed

[2018-05-31 05:45] yurishkuro commented on #75
then yay for types

[2018-05-31 05:54] Falco20019 commented on #75
I leave it open for a couple more days, in case someone else wants to share his opinion.

[2018-06-01 12:05] Marfusios opened #80 "Required field Process is not set"
Hello,

after trying the latest version (0.1.0), I get an error from Jaeger server:
`Unable to process request body: Required field Process is not set\n`.
Could you help me?

My configuration:
[code]

Usage:
[code]

BTW, a lot of errors were swallowed, so I had to debug it locally to figure out the real issue.
For example:
`RemoteReporter`, line 135 (`catch (SenderException ex)`) only report throu

[2018-06-01 12:08] Falco20019 commented on #80
Thanks for reporting. I will have a look soon.

[2018-06-01 12:39] Falco20019 commented on #80
This seems to come from the `jaeger-collector` (see [here](https://github.com/jaegertracing/jaeger/blob/4402978047ba583726789bfd1be0aabd4c4e442c/cmd/collector/app/http_handler.go#L60) adn [here](https://github.com/jaegertracing/jaeger/blob/4402978047ba583726789bfd1be0aabd4c4e442c/thrift-gen/jaeger/ttypes.go#L1647)). This message means, that the `ThriftProcess` that should be part of `ThriftBatch`

[2018-06-01 12:47] Falco20019 commented on #80
Btw, it looks like you are looking into doing tracing for ASP.NET. If you are using ASP.NET Core, you should have a look at [opentracing-contrib/csharp-netcore](https://github.com/opentracing-contrib/csharp-netcore) and [the tutorial](https://github.com/yurishkuro/opentracing-tutorial/tree/master/csharp) for how to use it. Especially chapter 3 has an example of how to use `csharp-netcore`.

[2018-06-01 14:08] ScottGuymer opened #81 "Correlating traces between csharp and java clients"
Im trying to set up a demo to demonstrate tracing across various languages supported by opentracing.

I am running into an issue when trying to get a trace between csharp and java.

I think i have tracked it down to the fact that the traceid generated by the chsarp client is too long.

It seems that the traceid is 32 characters long in the generated header but all the traceids generated by both ja

[2018-06-01 14:11] yurishkuro commented on #81
128bit IDs are not yet uniformly supported in all Jaeger clients. Csharp client should default to generating 64bit IDs, with opt-in for 128bit.

[2018-06-01 14:19] ScottGuymer commented on #81
Im not aware that i have changed any defaults to make it use a 123bit ID.

Not even sure where i would do that! 😄

[2018-06-01 14:36] ScottGuymer commented on #81
Or are you saying that it _should_ but doesnt currently..

[2018-06-01 15:28] ScottGuymer commented on #81
I can see the issue in the java implementation here https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/SpanContext.java#L125

it expects the traceid to be 16 characters only

[2018-06-01 15:29] Falco20019 commented on #81
Yes, right now we are using always 128bit. I will create a PR to fix this in a second. C# has to use 64bit since this is the common one.

[2018-06-01 16:19] ScottGuymer commented on #81
That was super fast! Nice work

[2018-06-01 17:31] Falco20019 opened #83 "Make creation of 128bit TraceId configurable"
See https://github.com/jaegertracing/jaeger/issues/858 and #81

#82 fixes the first half of the problem, but making it configurable is the second half not done yet.

[2018-06-01 17:36] #44 closed

[2018-06-01 20:17] #81 closed

[2018-06-02 13:07] Marfusios commented on #80
I'm gathering information from my colleagues about our deployed jaeger-collector, but probably not before Monday.

But I tried today latest version of the collector in local docker (`jaegertracing/all-in-one`) with **no success** (still same error).
If exact same configuration with `all-in-one` collector works for you, I will try to provide some sample working solution, maybe I have some flaw some

[2018-06-02 16:44] Falco20019 commented on #80
I will try it again on Monday with the whole jaeger-all-in-one. I don’t have docker at home. I mostly use jaeger-agent (UdpSender) and not jaeger-collector (HttpSender).

[2018-06-04 09:00] Falco20019 commented on #80
I just created an C# Thrift server for testing. I can receive the batch on that perfectly, including the process. So looks like there is a problem in `TBinaryProtocol` between `C# v0.11.0` and `Java v0.9.3`. This is pretty strange since it worked before.

@yurishkuro I created a binary dump of the byte stream sent to `jaeger-collector`. I get a `BadRequest` response from [here](https://github.com/

[2018-06-04 11:07] Falco20019 commented on #80
Ok, I think I found the problem. The endpoint only wants a `Batch` instance and not an `emitBatch` agent call. Will fix it now.

[2018-06-04 12:27] #80 closed

[2018-06-04 12:41] Falco20019 commented on #81
@ScottGuymer Version `v0.1.1` is now online on NuGet.

[2018-06-04 12:41] Falco20019 commented on #80
@Marfusios Version `v0.1.1` is now online on NuGet.

[2018-06-04 16:21] #51 closed

[2018-06-04 16:26] yurishkuro commented on #80
@Falco20019 for this like that we have crossdock integration tests that can be run in any client repo. For example, Java client tests both UDP and HTTP senders: https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-crossdock/docker-compose.yml#L60

[2018-06-04 16:28] yurishkuro opened #85 "Create crossdock integration tests"
To address issues like https://github.com/jaegertracing/jaeger-client-csharp/issues/80#issuecomment-394416348

[2018-06-04 16:41] Marfusios commented on #80
@Falco20019 thank you, it's working

[2018-06-15 15:31] Marfusios opened #87 "ChildOf reference doesn't work"
Hello,

thank you for the library. I continue to integrate Jaeger into our system, but I struggle with setting a reference to a parent span.
We are using Linkerd as a service mesh which sends us open tracing coordinates via HTTP header.

[link](https://discourse.linkerd.io/t/logging-to-zipkin/672)

I managed to parse that coordinates and create parent context with method `SpanContext.ContextFromSt

[2018-06-15 23:40] rwkarg opened #88 "Add Sub-millisecond timing precision"
## Requirement - what kind of business use case are you trying to solve?

Accurately timing spans at sub-millisecond resolution.

## Problem - what in Jaeger blocks you from solving the requirement?

DateTimeExtensions.ToUnixTimeMicroseconds() first computes integer milliseconds, then scales to microseconds. This unnecessarily removes sub-millisecond precision from all microsecond measurement.

##

[2018-06-16 00:46] yurishkuro commented on #88
+1

did you mean `*` instead of `/` in the first line? I expect `TicksPerMicrosecond > TicksPerMicrosecond`.

[2018-06-16 00:48] yurishkuro commented on #88
Also, it's worth investigating monotonicity of Ticks, as it is unusual to have nanosecond precision (although this is actually 100ns) with an actual timestamp rather than counting from some arbitrary offset.

[2018-06-16 00:51] yurishkuro commented on #88
and the last point - in the new protobuf model we just merged on the backend there is no restriction on the timestamp and duration to be in microseconds. So the internal model in the C# client should keep highest possible precision, and only do truncation when converting to wire format.

[2018-06-18 08:04] Falco20019 commented on #87
The problem is, that your parent context has the `SpanContextFlags` set to `0x06`. This sets the `Debug` flag but not the `Sampled` flag. Make sure to set `SpanContextFlags.Sampled` (`0x01`) if you want to have a span sampled. The sampler given to the tracer is only for generating new spans. Parent spans dictate that for incoming spans.

If you want to use the sampler of the tracer to decide if it

[2018-06-18 11:10] Marfusios commented on #87
Thank you for an explanation, it works

[2018-06-18 12:18] #87 closed

[2018-06-18 15:05] rwkarg commented on #88
The ```/``` is correct (though I did make that same mistake when I first PoC'd the change).
A microsecond is a smaller time period than a millisecond so there are fewer ticks per microsecond than ticks per millisecond.
Some further research on DateTime.UtcNow dug up that on Windows, the precision is actually between 15-0.5 ms. and on Linux/.NET Core the precision is 1 microsecond https://aakinshin

[2018-06-18 15:32] Falco20019 commented on #88
Still it's better to use microseconds, even if Windows is not able to resolve the precission perfectly. The ticks are still defined as `one hundred nanoseconds or one ten-millionth of a second`. So dividing by 10 or `TimeSpan.TicksPerMillisecond / 1000` (which results in 10) should be fine.

[2018-06-18 15:37] rwkarg commented on #88
Yes. I agree :D
Was just adding some background info for anyone who might stumble upon this issue in the future and wonder why this change "works" on Linux but not on Windows.

[2018-06-21 11:34] Falco20019 opened #90 "Support W3C Trace Context headers"
See https://github.com/jaegertracing/jaeger/issues/855

[2018-07-05 17:11] rwkarg opened #92 "Infinite loop in Jaeger.Util.Utils.UniqueId under concurrent use"
## Requirement - what kind of business use case are you trying to solve?

Infinite loop in Jaegetr.Util.Utils.UniqueId during concurrent Span building.

## Problem - what in Jaeger blocks you from solving the requirement?

Access to an internal static System.Random instance is not synchronized to prevent concurrent access

## Proposal - what do you suggest to solve the problem or improve the exist

[2018-07-05 22:46] saikiranchalla1 commented on #56
I have the same issue. But I'm using `Configuration.FromEnv` in order to set the configuration. In the Kubernetes deployment, I have an environment variable `JAEGER_AGENT_HOST` set to the cluster IP. Everything else is default.

[2018-07-09 13:01] Falco20019 commented on #56
@saikiranchalla1 Please open a new issue with your problem and link to this issue as related. This makes keeping track easier and does not inform all the persons involved in this issue on every message. Please post the whole code you use there (what `ILoggingFactory` you use with `Configuration.FromEnv`) and also the exact configuration in Kuberenetes you use to set `JAEGER_AGENT_HOST`.

[2018-07-17 13:44] cwe1ss opened #93 "Admin-rights for @Falco20019"
Unfortunately, I'm currently really busy at work so I have very limited time for contributions :(

I therefore like to give @Falco20019 admin-rights for this repo. This allows him to e.g. squash a stuck PR (see #91) He already has write-access.

any concerns?

/cc @yurishkuro

[2018-07-17 13:57] yurishkuro commented on #93
+1. Let me know if you need help to do that.

[2018-07-17 14:04] cwe1ss commented on #93
Done! Thx for the quick response!

[2018-07-17 14:04] #93 closed

[2018-07-17 14:36] #92 closed

[2018-07-18 06:33] #88 closed

[2018-07-18 07:43] Falco20019 commented on #90
@grounded042 Nice to see you back around after your hiking :)

[2018-07-19 06:53] #83 closed

[2018-07-19 17:07] grounded042 commented on #90
One fun part of the spec is:

Using `ITextMap` like we have before makes this hard as it has a `Set` method that doesn't really allow for multiple keys even though the underlying implementation might. I'm hesitant to not use `ITextMap` and I also don't know what I would use instead. IF the backing for an ITextMap is something like [WebHeaderCollection](https://msdn.microsoft.com/en-us/library/syst

[2018-07-19 17:23] yurishkuro commented on #90
I think this is worth bringing up for the OT API.

Meanwhile, HTTP standard provides another alternative to multiple same-name headers - a single header with concatenated, comma-separated values.

[2018-08-14 17:36] rwkarg opened #95 "When is 0.2.0 expected to be released?"
## Requirement - what kind of business use case are you trying to solve?

Use Jaeger version without unbounded CPU utilization bug (see PR #91)

## Problem - what in Jaeger blocks you from solving the requirement?

The currently published 0.1.1 package does not contain the above bug fix

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Provide guidance on

[2018-08-14 18:43] Falco20019 commented on #95
I pushed #72 to v0.3.0 and released v0.2.0 right now since it’s not blocking the release. The package should be available soon on NuGET. It’s validating right now.

[2018-08-14 18:44] #95 closed

[2018-08-14 18:52] rwkarg commented on #95
Verified 0.2.0 is available on NuGet. Thanks!

[2018-08-23 15:51] oliverroer opened #97 "Propagation format is seemingly only configurable through environment variables"
## Requirement - what kind of business use case are you trying to solve?

[Integration with Istio, by propagating zipkin headers.](https://istio.io/docs/tasks/telemetry/distributed-tracing/#understanding-what-happened)

## Problem - what in Jaeger blocks you from solving the requirement?

It is not clear how to configure the propagation to use the zipkin format.
The only approach I've found is to

[2018-08-23 16:16] nsehgal opened #98 "Spans not getting reported to UI"
I am trying to write a hello world to evaluate Jaeger for C# Client API

And defining the Tracer like this :

[code]
But I see the spans getting reported to logs but nothing in UI running on http://localhost:16686/search

On reboot it says

[code]
Any help is greatly appreciated.

Thanks.

[2018-08-23 16:30] Falco20019 commented on #98
Are you trying to use the jaeger-all-in-one docker endpoint? If yes, you can leave the `WithReporter` and complete `ReporterConfiguration` (and therefore `SenderConfiguration`) away since that's the default. It looks strange that `IPv4=0` is there.

[2018-08-23 16:50] rwkarg commented on #97
In the Tracer.Builder you can call .RegisterCodec(...) to add a codec (like B3TextMapCodec) at runtime.

[2018-08-23 16:53] Falco20019 commented on #97
You can use `config.GetTracerBuilder()` to get the `Tracer.Builder` that @rwkarg mentioned. But I think it would also be nice to have it in the `Configuration`. Seems somewhat strange if only some of them can be accessed directly.

[2018-08-23 16:57] nsehgal commented on #98
Hey @Falco20019 Yes, I am using the jaeger-all-in-one docker.

 Updated the trace init to this

[code]
Still no traces in the UI.

Init Log

[code]

[2018-08-23 17:04] Falco20019 commented on #98
Please use `ConstSampler.Type` instead of `ProbabilisticSampler.Type`. You can also drop the `senderConfiguration` right now for the test.

[2018-08-23 17:10] nsehgal commented on #98
Tried this

[code]

info: Jaeger.Configuration[0]
      Initialized Tracer(ServiceName=xxx, Version=CSharp-0.2.0.0, Reporter=RemoteReporter(Sender=UdpSender(UdpTransport=ThriftUdpClientTransport(Client=10.34.155.29:6831))), Sampler=ConstSampler(True), IPv4=0, Tags=[jaeger.version, CSharp-0.2.0.0], [hostname, ABCDE], ZipkinSharedRpcSpan=False, ExpandExceptionLogs=FalseUseTraceId128Bit=False)

Did t

[2018-08-23 17:16] Falco20019 commented on #98
Now the IP is `10.34.155.29`. Are you running this code snipped it inside of a docker image? It's strange since this should be resolved from `localhost`. I assume that to be the problem.

[2018-08-24 13:18] oliverroer commented on #97
So, let's say I have a scenario where I want to:
- set my service name
- set the agent host
- set the sampler type to const
- set the propagation to b3+jaeger
- keep the rest default

First, I achieved this in the following way:

[code]

Based on your answers, and looking around the code base, I've arrived at this alternative approach, which seems to also work for me:

[code]

Did I miss anything?

[2018-08-24 13:50] Falco20019 commented on #97
I would prefer it that way:
[code]

Or to get completely away without environmental variables:
[code]

The problem right now, is that you are redifining the Codec with `RegisterCodec` instead of adding it. You need to create a `CompositeCodec` first. `CodecConfiguration` is doing this for you, but it's missing a public constructor that allows you to define the propagation. Would be better to add o

[2018-08-24 18:24] rwkarg opened #99 "Http Thrift requests without Content-Type headers are rejected"
## Requirement - what kind of business use case are you trying to solve?

Report Spans via Http Thrift requests (port 14268)

## Problem - what in Jaeger blocks you from solving the requirement?

Recent versions of the Jaeger backend reject Http Thrift requests that do not contain a `Content-Type: application/x-thrift` header.
An Http 400 response is returned with the following message:
`Cannot pa

[2018-08-25 07:40] oliverroer commented on #97
Your second example still contains the line `.WithCodec(CodecConfiguration.FromEnv(loggerFactory))`.
Is that intentional or an accident?

I agree that the proposed third example looks cleaner. :smile:

[2018-08-25 09:33] Falco20019 commented on #97
No was not intentional :) edited it for other people reading it. Will have a look at it beginning of next week.

[2018-08-28 23:29] nsehgal opened #103 "How to enable tracing for all services in ASP.NET app?"
Hey Guys,

As I understand, OpenTracing.Contrib.NetCore app adds this method services.AddAutoMapper(); to enable open tracing for all services for .Net core. How to do this for ASP.NET MVC app?

Thanks.

[2018-08-29 05:13] Falco20019 commented on #103
Please have a look at the PR #96 for how to use Autofac. We want to merge it soon.

You could also use ’GlobalTracer.Instance’ after registering your instance once with ’GlobalTracer.Register’. An example can be found [here](https://github.com/yurishkuro/opentracing-tutorial/blob/master/csharp/src/lesson03/README.md).

[2018-08-29 20:44] nsehgal commented on #103
Thanks @Falco20019

[2018-08-29 20:44] #103 closed

[2018-08-29 23:17] nsehgal opened #104 "Why do we need to run jaeger-agent on each node or VM?"
Can we push the traces to the collector directly? Does the Client Library supports that?

Thanks.

[2018-08-30 05:33] Falco20019 commented on #104
To directly communicate with the collector, use the `JAEGER_ENDPOINT` environment variable ([see README](https://github.com/jaegertracing/jaeger-client-csharp/blob/master/README.md#configuration-via-environment)) or when using configuration, use `HttpSender` instead of the `UdpSender`.

[2018-08-30 14:29] nsehgal commented on #104
Cool, thanks @Falco20019 Is there any performance limitations if we do that?

[2018-08-30 14:57] Falco20019 commented on #104
AFAIK, the agent would collect some traces before doing the HTTP call which boosts also the performance. But @yurishkuro can definetly tell you more :)

[2018-09-02 19:04] yurishkuro commented on #104
The agent mostly serves as a routing proxy. If you can setup a dns for collectors then using http directly is fine. But adaptive sampling capabilities won't work since collectors do not expose the sampling via http, only the agent does.

[2018-09-06 17:11] nsehgal commented on #104
Got it, thanks @Falco20019 & @yurishkuro

[2018-09-06 17:11] #104 closed

[2018-09-07 22:19] rwkarg opened #105 "[Thrift] HttpClientHandler.ClientCertificates not present in some .NET Framework versions"
## Requirement - what kind of business use case are you trying to solve?

Report tracing from Windows machines running various .NET Framework versions

## Problem - what in Jaeger blocks you from solving the requirement?

The THttpClientTransport class always attempts to add additional client certificates to the underlying HttpClientHandler. That property access a class that is part of the netstan

[2018-09-20 20:46] rwkarg commented on #99
This was addressed by #101

[2018-09-20 20:46] #99 closed

[2018-09-22 05:16] Falco20019 commented on #99
Sorry for the delays but I‘m low on time right now :( wanted it as part of v0.3 but just moved it to v0.2.1 which should release the next couple of minutes.

[2018-09-24 23:42] Aaronontheweb commented on #99
@Falco20019 thanks! Just upgraded. I really appreciate you all responding so quickly. This solved my problem.

[2018-10-03 23:28] #105 closed

[2018-10-04 16:38] #97 closed

[2018-10-04 17:02] Falco20019 opened #107 "Having performance decision configurable"
Based on https://github.com/jaegertracing/jaeger-client-csharp/pull/72#issuecomment-406442682 we should discuss if we want to make adjustments into haven the user decide on a performance level instead of tweaking all the knobs himself.

I would also love to hear some user opinions on this. We should still keep all the knobs around for users that want to tweak it themselves.

[2018-10-05 16:35] thzinc commented on #57
I see this issue hasn't been discussed for a few months. I'm working on a project where Microsoft.Extensions.Configuration support would be really useful, but I understand the hesitancy toward including a number of external dependencies.

I read through the `Jaeger.Configuration` class, and it seems that supplanting the `GetProperty` method with a delegate to resolve a `string` into a `string` (as

[2018-10-19 09:45] paulomorgado commented on #57
The `Microsoft.Extensions.*` packages were developed by the ASP.NET team which, actually, started .NET Core but are not tied in any way to ASP.NET Core or even .NET Core. I've been using them for the past 2 years without ever having developed an ASP.NET Core or .NET Core application - lots of Windows services and ASP.NET MVC running on .NET Framework 4.6.2+.

`Microsoft.Extensions.Configuration.*`

[2018-10-19 09:49] paulomorgado opened #112 "Make setting Configuration._useTraceId128Bit public"
## Requirement

I'm building a configuration provider for `Microsoft.Extensions.Configuration.*`

## Problem

`Configuration._useTraceId128Bit` is only settable if reading from environment variables.

## Proposal

Make `Configuration._WithTraceId128Bit(bool)`

[2018-10-19 12:57] Falco20019 commented on #112
This is somewhat related to the discussion in #57 and also relates to #108 and #110

[2018-10-26 13:32] jamendozag opened #113 "HttpSender not sending correct Authentication header key"
## Requirement - what kind of business use case are you trying to solve?
I am trying to post traces to an http endpoint that uses http authentication (either by setting user/pass or authtoken)

## Problem - what in Jaeger blocks you from solving the requirement?

The current HttpSender implementation is adding a "custom" header with an `Authorize` key, instead of the standard `Authorization` key.

[2018-10-26 17:01] Falco20019 commented on #113
@jurishkuro I assume jaeger-collector is assuming Authorize instead of Authorization? Or is it listening to both headers? Don’t won’t to break support here.

[2018-10-26 17:15] jamendozag commented on #113
As an reference, the jaeger's go client uses go's [SetBasicAuth](https://golang.org/src/net/http/request.go) (line 905) here https://github.com/jaegertracing/jaeger-client-go/blob/master/transport/http.go#L141, which ends up adding the header with the `Authorization` key as well

[2018-10-26 19:15] yurishkuro commented on #113
I am not aware of any backend functionality for this. We used basic auth in our of our deployments, but I think it was via some custom endpoints, not part of the open source version.

@vprithvi do you know?

[2018-10-27 11:00] Falco20019 commented on #113
I rechecked the Java implementation and the also seem to use Authorization. So seems like a bug introduced when porting.

[2018-10-27 11:05] #113 closed

[2018-10-27 11:11] Falco20019 commented on #113
@jamendozag I just deployed the fix as v0.2.2 to NuGET. You should be able to use it soon. Thanks again for finding, reporting and fixing!

[2018-11-21 15:02] tomchavakis opened #115 "Prometheus Integration"
At the https://www.jaegertracing.io/docs/1.8/client-features/ link the Prometheus integration is uknown.
I haven't find anything to the library documentation.
Is there any implementation for this feature ?

[2018-11-21 15:29] Falco20019 commented on #115
Not implemented so far but I am interested in having it myself. So if no one implements it soon, I will do it as soon as I need it (next 4-6 months).

[2018-12-05 22:34] avkom opened #116 "Invert dependency between Jaeger and Jaeger.Thrift NuGet packages"
## Requirement

We do not want that `Jaeger` NuGet package depends on `Jaeger.Thrift` package.

## Problem

`Jaeger` package depends on `Jaeger.Thrift` package. `Jaeger` package may be a 'reference implementation' of OpenTracing standard on .NET platform that can be used with custom implementation of `Jaeger.Senders.ISender` interface. In case our custom implementation of `ISender` does not use Th

[2018-12-07 14:42] animusblue commented on #76
I'm currently having an issue with using this library because of the dependency on the Jaeger.Thrift.VendoredThrift package. It seems that the Jaeger.Thrift.VendoredThrift is a custom copy that doesn't have the asp.net core references. This is causing an issue with our own thrift library as both the nuget package and the default implementation (through a submodule referencing the thrift master) ar

[2018-12-07 14:56] Falco20019 commented on #76
#116 also has problems with Thrift. Is there finally an up2date nuget package of Thrift? A year ago we only did a request at the issue tracker to finally update it.

[2018-12-07 14:59] Falco20019 commented on #116
I would like to get rid of Thrift once gRPC support is fully added. I also would like to get rid of linking directly to the package as discussed in #76 but currently have little time to work on the library. I hope to find some time in January.

[2018-12-07 15:02] animusblue commented on #76
We've only found 3rd party NuGet packages and most of them were out of date. We're hesitant to rely on non-official sources for something like this which is why we're using a submodule.

[2018-12-07 15:35] yurishkuro commented on #116
Fwiw a similar refactoring happened in the Java client.

[2018-12-07 20:53] avkom commented on #116
I am working on a proof of concept for this change, but it requires some polish. I am going to submit a pull request. Do you accept PRs in this repository?

[2018-12-07 21:01] yurishkuro commented on #116
certainly

[2018-12-11 11:21] Falco20019 commented on #116
I think this will somewhat revive the discussion around #34. Maybe we should shift Jaeger back into Jaeger.Core and strip the Transport layer out again. Jaeger could than be the alias to to Jaeger.Thrift as discussed in #34 so that people can just update without breaking.

[2018-12-11 13:16] Falco20019 commented on #115
I will look into implementing it right now.

[2018-12-12 16:10] Falco20019 commented on #115
I want to wait for #116 to be merged before bringing this in. But I made some first tests at [the branch Falco20019/prometheus](https://github.com/jaegertracing/jaeger-client-csharp/tree/Falco20019/prometheus) and it seems to work as expected. Documentation also has to be updated a bit more then, but you basically would just have to use it as explained [here](https://github.com/jaegertracing/jaege

[2018-12-12 21:09] avkom commented on #116
@Falco20019 Even if we keep `HTTPSender`, `ThriftSender`, `UdpSender`, `JaegerThriftSpanConverter`, and `Configuration` classes in `Jaeger` project and move all other types from `Jaeger` to `Jaeger.Core` project, this still be a breaking change for developers who use any of the moved types (for example,  `IMetricsFactory` or `IReporter`) because these types are moved to a different assembly and to

[2019-01-08 06:20] Falco20019 commented on #76
There finally are official packages available for Thrift at https://www.nuget.org/packages/ApacheThrift/

[2019-01-29 00:58] rwkarg opened #119 "Start will add AsChildOf to an already finished span"
https://github.com/jaegertracing/jaeger-client-csharp/blob/16fbedf556661d1c79d2692c2266f681a02c40c1/src/Jaeger/SpanBuilder.cs#L130

This is both surprising as well as causes issues with the main thread.

It's surprising since the previous active span has had Finish called and I would expect it to be "done", but it's still returned as _tracer.ActiveSpan.

It causes issues because I would like to in

[2019-01-29 20:55] rwkarg commented on #119
Looks like it's a difference between calling .Finish on the Span as opposed to .Dispose on the Scope.

I'm instrumenting async WCF infrastructure and have been passing around the Span instances but it looks like it may be more appropriate to pass around the Scope. But calling .Start returns the ISpan, not an IScope. What would be the recommended way to instrument across an async call?

Basic Code:

[2019-01-29 21:19] yurishkuro commented on #119
I don't know the specifics in C#, but in the Java API scopes should not be passed around, they are explicitly designed to open and close on the same thread, doing otherwise will cause leaks.

Your async example looks correct, conceptually. You don't need the new span to be active if there are not going to be any children spans added to it during the outbound call.

[2019-01-30 12:08] christoph-neumann-schema-de opened #120 "Accessing GlobalTracer.IsRegistered is not thread-safe"
## Problem - what in Jaeger blocks you from solving the requirement?

In GlobalTracer.cs the writing to s_isRegistered is thread-save via lock(s_lock).
Problem: the accessor is not thread-safe:

public static bool IsRegistered() {
    return s_isRegistered;
}

Consequence:
I would like to initialize the GlobalTracer with something like that:
if (!OpenTracing.Util.GlobalTracer.IsRegistered())
    O

[2019-01-31 17:58] rwkarg commented on #119
Taking a look at things, it appears to be an issue with the way a third-party has implemented their tracing. They have an operation (refreshing configs from the server) that could either be done inline as part of a query or periodically in the background.

The inline case is a child of the existing trace, as expected.

The periodic case is initiated on the main thread and each periodic "tick" gets

[2019-01-31 17:58] #119 closed

[2019-02-01 17:43] tillig opened #121 "Obey the X-B3-Sampled accept/deny header without other B3 headers"
## Requirement - what kind of business use case are you trying to solve?

I would like to signal to the Jaeger pipeline as part of an ASP.NET Core application that a particular request should (or should not) be included/reported.

## Problem - what in Jaeger blocks you from solving the requirement?

The challenge is a combination of how OpenTracing contrib attempts to ignore a trace and in the way

[2019-02-01 17:53] tillig commented on #121
A sort of quick workaround may be to create a sort of sampler decorator that looks at the current request headers and makes a sampling decision based on the header value _or_ the selected sampling strategy. I'll see if I can make something like that work in the meantime.

[2019-02-01 20:40] yurishkuro commented on #121
what kind of semantics for multiple codecs would you propose? E.g., they can work in priority order, if the first one parsed the trace context, the others will either not try to parse it, or won't be allowed to affect the one already stored in the builder. But what about trace context vs. baggage, e.g. if you have trace context only in the Jaeger format, and trace context + baggage in Zipkin forma

[2019-02-01 23:57] avkom opened #122 "SpanBuilder.AddReference() does not add a reference when passing referencedContext of another than SpanContext type"
## Requirement - what kind of business use case are you trying to solve?

In our application, we have objects of `SpanContextData` that implement `ISpanContext` interface. When we pass object of `SpanContextData` type to `SpanBuilder.AddReference()` or `SpanBuilder.ChildOf()`, a new reference in not added. The reason of having `SpanContextData` is that we need to include a span context as a proper

[2019-02-02 00:05] yurishkuro commented on #122
The OpenTracing API assumes that objects implementing trace/span/span-context are the objects created by the concrete tracer implementation. Even though ISpanContext is an interface, it is an extension point to be implemented by the Tracer, not by the end user. What you are trying to do is not the intention of the AddReference API, because to support it would require the tracer to know how to seri

[2019-02-02 00:11] yurishkuro commented on #121
I'm on the same page about the order of codecs deciding the priority of which representation wins (except that it should be "first wins" in extract(), to improve performance and stop further evals). It's fairly easy to implement as well.

I don't consider incomplete trace context a valid use case, it would simply be discarded, so parent/child question is a wash to me.

But what I don't have a stro

[2019-02-02 00:12] tillig commented on #121
TBH, I don't have a strong opinion on how the baggage is handled because I don't know enough about it. My primary concern was just handling the inbound header and being able to obey it; I totally defer to you on the baggage aspect.

[2019-02-02 00:37] tillig opened #124 "Add public read-only properties to the tracer builder"
## Requirement - what kind of business use case are you trying to solve?

I'm working on a workaround for #121 where I create a decorator for the configured sampler and set that up during app startup. My decorator can make some sampling decisions (or add some logging, or whatever) and I can still use environment-based configuration for the default sampler types (`const` or whatever).

I envision t

[2019-02-02 00:47] yurishkuro commented on #121
Did you try using `sampling.priority` tag? It is intended to allow the application to override the decision of the sampler, and it is sticky, i.e. propagates downstream. Primarily it is used with value `1` to force the sampling (also raises the debug flag), but value 0 can be used to disable sampling even if probabilistic sampler turned it on.

[2019-02-02 00:47] avkom commented on #122
[code]

[2019-02-02 00:50] yurishkuro commented on #122
In the sender:

Why not simply use the standard inject() method? I am not seeing how this example is different from any normal communication between services (whether via RPC or queue) - the inject/extract mechanism is universally applicable.

[2019-02-02 00:52] tillig commented on #121
I didn't try that, but I'm not sure where it should be set. Is that something [that should be set when OpenTracing begins the request span](https://github.com/opentracing-contrib/csharp-netcore/blob/d165512a9c316bc89590dd65534bce2b76fcfca4/src/OpenTracing.Contrib.NetCore/AspNetCore/HostingEventProcessor.cs#L55)? Is there a sort of plugin, like an additional codec I should add? I apologize if this

[2019-02-02 00:57] avkom commented on #122
We need a POCO type to pass a span context (`SpanContextData`) through process boundaries that is simply serializable/deserializable and we want to avoid usage of `ITracer.Inject()` and `ITracer.Extract()` methods because we still need to take in account what types of carrier a particular OpenTracing library supports and we need to create special adapters to convert from this carrier types to our

[2019-02-02 00:58] yurishkuro commented on #121
it's a tag that can be set at any point on the span: `Tags.SamplingPriority.set(span, 1)` forces sampling of that span and all its future children.

https://github.com/jaegertracing/jaeger-client-csharp/blob/ae54ab06b0d5ff71eac2155622e99fa89f287d73/src/Jaeger/Span.cs#L153-L171

[2019-02-02 01:01] yurishkuro commented on #122
You can Inject() into a dictionary. If it's not serializable out of the box, you  can encode it somehow. Or you can inject using binary codecs, and encode the resulting byte array. Both ways are not going to tie you to a specific implementation.

[2019-02-02 01:39] avkom commented on #122
I agree with you: it makes sense to use `IDictionary<string, string>` instead of custom `SpanContextData` to store a span context in the entity and use `Inject()`/`Extract()` as suggested in [Lesson 3 - Tracing HTTP Requests](https://github.com/yurishkuro/opentracing-tutorial/tree/master/csharp/src/lesson03). In this case we will not loose SpanContextFlags.

[2019-02-02 01:39] #122 closed

[2019-02-02 01:39] avkom commented on #122
Thanks for your clarification!

[2019-02-04 17:57] tillig commented on #121
Since the application basically executes like this...

- Request enters ASP.NET Core app - [OpenTracing immediately opens a span](https://github.com/opentracing-contrib/csharp-netcore/blob/d165512a9c316bc89590dd65534bce2b76fcfca4/src/OpenTracing.Contrib.NetCore/AspNetCore/HostingEventProcessor.cs#L55)
- Middleware before the MVC pipeline may run however that middleware may also use a database - if

[2019-02-04 18:32] tillig commented on #121
Verified middleware does work as long as you ensure it's the very first thing in the pipeline.

[code]

Where would something like that belong? In the OpenTracing project? Here? I'd be happy to PR it to the right spot if that's the prescribed solution.

[2019-02-25 22:35] rwkarg opened #125 "Warning for already finished Span is not useful"
## Requirement - what kind of business use case are you trying to solve?

Correctly handling lifetime (with possible disposal) of Spans.

## Problem - what in Jaeger blocks you from solving the requirement?

Warning log for already finished spans does not provide any information about which span needs to be fixed.

## Proposal - what do you suggest to solve the problem or improve the existing situ

[2019-02-26 06:07] Falco20019 commented on #124
Hi @tillig, post-build configuration won‘t be allowed since the whole point of the Builder is to have imutability. But I will have a look at read-only properties.

[2019-02-26 15:51] rwkarg commented on #120
Even if the proposed lock is added around the IsRegistered method, there's nothing stopping the scenario of:

- Thread 1 calls IsRegistered() and gets false
- Thread 2 calls .Register(Tracer)
- Thread 1 calls .Register(Tracer)
  - Exception

A TryRegister that returns a bool if it actually registered would be one way to address potentially multiple threads trying to register a tracer.

Is there a

[2019-02-26 16:22] yurishkuro commented on #120
is this meant for opentracing-java repository?  I don't see what it has to do with Jaeger client.

[2019-02-26 17:05] #125 closed

[2019-02-26 18:25] Falco20019 commented on #120
@christoph-neumann-schema-de This is related to the code base of
https://github.com/opentracing/opentracing-csharp and not Jaeger, so please Post it over there.

[2019-02-26 18:25] #120 closed

[2019-02-27 08:44] christoph-neumann-schema-de commented on #120
@Falco20019 : Yes. You are absolutely right. Sorry for the confusion. I will post it there.

@rwkarg : The "high" contention is easily reached with just a few (concurrent!) NUnit Test Assemblies. I got it almost at once when I started Tracing-enabled testing.

[2019-02-27 13:04] Falco20019 commented on #112
Just saw that this already was part of #94 and called `Configuration.WithTraceId128Bit(bool)` but it's still `private`.

[2019-02-27 14:05] Falco20019 commented on #124
I created PR #128 which opens up the API. Afterwards you can either create a class inheriting from `SamplerConfiguration` that knows `SamplerDecorator` which would allow to also support environment configuration:
[code]

Or you can only use the sampler directly on the `Tracer.Builder`:
[code]

[2019-02-27 15:35] #112 closed

[2019-03-06 09:08] Falco20019 opened #131 "Write-rights for @saschaholesch"
## Requirement - what kind of business use case are you trying to solve?
We like to have PRs reviewed before merging them.

## Problem - what in Jaeger blocks you from solving the requirement?
@cwe1ss and @grounded042 are propably very busy right now. Therefore, no one is available for reviewing the C# specific parts of our PRs.

## Proposal - what do you suggest to solve the problem or improve th

[2019-03-06 14:16] yurishkuro commented on #131
I could never understand how GitHub decides on the suggestions for reviewers, on #130 I see at least 30 people suggested, but @saschaholesch is not one of them and GitHub won't allow entering the username directly. I would prefer to solve it with a "reviewer" role rather than full commit rights, since @saschaholesch hasn't been active in  this repo.

[2019-03-06 15:17] cwe1ss commented on #131
Hm yes, I'm really sorry, but I'm in a project right now and on a really tight schedule until June so unfortunately I won't have any time to do reviews. Sorry!

[2019-03-07 06:10] Falco20019 commented on #131
@yurishkuro I think GitHub suggests people who are collaborators (at least one merged commit through PRs) or team members. For team members there are three options: Read, Write and Admin. I will try to add him with Read permission and check if he appears in the reviewer list. He has been active in the background as he is one of my employees. From an activity perspective, he also did
https://github

[2019-03-08 09:38] #131 closed

[2019-03-08 09:39] Falco20019 commented on #131
Read permissions are enough for a person to appear in the reviewer list. Added him in #128 as reviewer.

[2019-03-20 16:05] xumix opened #132 "Collection was modified error in Jaeger.Reporters.RemoteReporter"
Getting this error in async http handler setup. Looks like you should `.ToArray()` all enumerable things before `foreach` or use some locking primitives when reporting.

[code]

Unfortunately I couldn't reproduce the problem in an isolated env and my project is rather large to post it here :(

[2019-03-20 16:10] Falco20019 commented on #132
This is a duplicate of #129 and will be fixed in v0.3.0 which should be released soon. Only waiting for #128 to be reviewed.

[2019-03-20 16:10] #132 closed

[2019-03-20 16:17] xumix commented on #132
Ok thanks!

[2019-03-22 14:34] #124 closed

[2019-03-22 14:44] Falco20019 commented on #132
@xumix Version 0.3.0 was just released and should be available through NuGET in the next hour.

[2019-03-22 15:49] N3IS opened #133 "Read configuration over appsettings.json"
## Requirement - what kind of business use case are you trying to solve?

I would like to create a tracer with my configurations set in the appsettings.json instead of the environment variables.

## Problem - what in Jaeger blocks you from solving the requirement?

The Jaeger.Configuration.cs

## Proposal - what do you suggest to solve the problem or improve the existing situation?

I solved the p

[2019-03-22 16:10] Falco20019 commented on #133
Duplicate of #110. Please use the following code:
[code]

[2019-03-22 16:15] xumix commented on #132
@Falco20019 thanks a lot!

[2019-03-24 07:21] tellybrown opened #135 "Custom Metric Tags"
I am trying to figure out how to get custom metric information from jaeger -> prometheus -> grafana.  The data is flowing through but it is limited to basic information like a span was saved for my service.  I would think something simple like the span name would be included.

I want this data to include more information that I specify.  I am probably missing something.  Maybe I have to send my ow

[2019-03-24 08:08] Falco20019 commented on #135
Jaeger itself is only generating the metrics shown in https://github.com/jaegertracing/jaeger-client-csharp/blob/master/src/Jaeger/Metrics/IMetrics.cs

But you can create all your custom metrics in Prometheus yourself independent of Jaeger or OpenTracing. The currently planned implementation looks like this:
https://github.com/jaegertracing/jaeger-client-csharp/blob/Falco20019/prometheus/src/Jaege

[2019-03-24 16:57] tellybrown commented on #135
It seems strange that I would need to make a second call with something I already am sending.  Wouldn't it be best just to change the metrics endpoint in jaeger to add essentially (sql) a group by statement of all the custom tags?

http://localhost:16686/metrics

[code]
to something like

[code]

[2019-03-24 17:00] Falco20019 commented on #135
Are you using the PrometheusMetricsFactory as suggested?

[2019-03-24 17:03] tellybrown commented on #135
Not yet.  Just got back and researching what you posted.  I will give it a try.

[2019-03-24 17:08] Falco20019 commented on #135
Sorry I misread the initial request since your referenced AddTagsToMetricName. This is only used for creating the full metric name and not for use by you. It’s public since Jaeger.Prometheus will also use it.

On what tags what you like to filter? The ones in the active span? Have you looked at other Jaeger languages? I think this is not available in any, so this is something we might want to disc

[2019-03-24 17:18] yurishkuro commented on #135
@tellybrown is your question about metrics emitted from Jaeger backend components?

[2019-03-24 17:32] tellybrown commented on #135
@yurishkuro I am new to all of this so you all will have to forgive me if I am not using this system as intended.
What I plan on doing is adding the opentracing to my microservices to essentially log and create performance metrics across the system.  We would use the jaeger ui for day to day troubleshooting.  The prometheus -> grafana would be used to identify performance issues for each sub syste

[2019-03-24 17:57] tellybrown commented on #135
@Falco20019  I don't think that Factory is the answer.  While it would solve the problem, I don't particularly want to send the same/similar information twice.  Once to jaeger and once to prometheus.  I do think that solution is good for additional metrics on top of what you are already capturing so maybe in the future I might want it.  Especially for back end job services.

[2019-03-24 18:14] yurishkuro commented on #135
Jaeger backend is not intended to be the source of application metrics. The best you can do is reuse tracing instrumentation to emit something like the [RED metrics][1]. Unfortunately, the OpenTracing API does not currently provide Span Observer API, so Jaeger Go client implements an internal module for [RPC metrics][2]. There's also a [decorator-based metrics generator for Java tracers][3], you c

[2019-03-24 19:04] tellybrown commented on #135
Thanks.  I think I see your point now. Closing.

[2019-03-24 19:04] #135 closed

[2019-03-31 04:16] yurishkuro opened #137 "NuGet API keys expired"
@Falco20019 I got this email:

I see the "regenerate" button on nuget, but I don't recall where the new generated key should go after that. Do you know how to fix it?

[2019-03-31 06:52] Falco20019 commented on #137
Please set it here: https://ci.appveyor.com/account/jaegertracing/environment/37513/settings in the API Key field of the environment.

[2019-03-31 16:01] yurishkuro commented on #137
Thanks, done.

[2019-03-31 16:01] #137 closed

[2019-04-01 08:25] N3IS commented on #133
Thanks for the fast answer but i have tested the new FromIConfiguration method, but it isn't really working because the FromIConfiguration calls all old FromEnv methods for the Reporter, Sampler and Codec.

https://github.com/jaegertracing/jaeger-client-csharp/blob/master/src/Jaeger/Configuration.cs#L167

And the FromEnv methods like SamplerConfiguration.FromEnv are creating there own new configur

[2019-04-01 13:22] Falco20019 commented on #133
That's a bug :) Thanks for recognizing. I will create a PR for it.

[2019-04-01 13:41] Falco20019 commented on #133
It should arrive in v0.3.1 that I hope to release beginning of next week, depending on the progress of the PRs.

[2019-04-02 09:12] Falco20019 opened #139 "Support for GrpcSender"
## Requirement - what kind of business use case are you trying to solve?

The new `model.proto` was defined in https://github.com/jaegertracing/jaeger/issues/904 and is accepted on GRPC port `14250` by the collector.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently not implemented in the client library.

[2019-04-02 12:31] jpkrohling opened #140 "Add a MAINTAINERS/CODEOWNERS file"
See jaegertracing/jaeger#254

[2019-04-03 06:40] #140 closed

[2019-04-03 09:00] rstraszewski commented on #139
Isn't this endpoint created for agent - collector communication, not client library - agent?

gRPC endpoint for Agent will be created later, in phase 3 - https://github.com/jaegertracing/jaeger/issues/773

[2019-04-03 09:32] Falco20019 commented on #139
I thought it‘s analogous to the HTTP endpoint of Thrift for that we also have the HttpSender in case the user does want to communicate directly with collector without agent.

[2019-04-03 10:47] Falco20019 commented on #139
It‘s analogous to the HTTP endpoint of Thrift for that we also have the `HttpSender` in case the user does want to communicate directly with collector without agent.

I checked again, and [`jaeger-client-go`](https://github.com/jaegertracing/jaeger-client-go#environment-variables) also supports directly talking to `jaeger-collector` over HTTP.

With `Thrift` it made a difference if you were to tal

[2019-04-03 10:53] rstraszewski commented on #139
Ok, I understand

[2019-04-03 11:58] #133 closed

[2019-04-03 12:28] Falco20019 commented on #133
v0.3.1 has just been released and should be listed on NuGET in the next hour.

[2019-04-05 10:03] Tanejaankush opened #143 "128 bit trace id not working with b3 propagation"
Hey I am using "JAEGER_TRACEID_128BIT" environment variable to enable 128 bit trace id support but while I deploy application image in windows container it works fine but when I deploy the same image in kubernetes it never generates 128 bit traceid for the same image with same variables passed for deployement.

**Below is my JAEGER client configuration of c# :**

[code]

**And below are the variab

[2019-04-15 14:50] Falco20019 commented on #143
Can you see if other parameters are set? Your configuration seems a bit more complicated than necessary. If you do it as follows, it stays open for changes to the configuration:

[code]

I can't see any problem at the moment. You can try it using the numeric version which is also accepted in case kubernetes is not passing the boolean correctly:
`docker run --rm --link jaeger_local --env JAEGER_SER

[2019-04-18 09:38] Falco20019 commented on #143
I just tried it with kubernetes and can't reproduce your problem. I tried it with the following minimal example that I then started through `docker build -t dotnet dotnet && docker stack deploy --compose-file docker-compose.yml test-env`.

# docker-compose.yml
[code]

# dotnet/Dockerfile
[code]

# dotnet/test-env/test-env.csproj
[code]

# dotnet/test-env/Program.cs
[code]

I was using the 2.2 runt

[2019-04-18 11:41] Tanejaankush commented on #143
**Update the configuration as suggested, please check below :**

[code]

### Service logs :

[code]

**Still getting spans of 64 bit traceId, kindly check logs below:**

[code]

### Environment Variables

[code]

### Note - We are using ISTIO service mesh in kubernetes

[2019-04-18 12:24] Falco20019 commented on #143
Seems correct to me.
[code]

Which contains:
`"span":"2dd4bf8929a43f92:25baa42cc45e9848:d7f1fca37a79489f:1"`
`"trace_Id":"86a9b9e94fbd82982dd4bf8929a43f92"`

I'm wondering a why the span only shows the lower half of the trace-id, but it definetly created a trace-id with 128 bit.

[2019-04-18 12:35] Tanejaankush commented on #143
That is the issue `trace_id` which you are seeing in logs is the trace_id from incoming request but my JAEGER client just picks the lower half and create spans with the low key of 128 bit TraceId.

My facility service JAEGER client is not creating 128 bit TraceID and thus spans are not getting connected to root span. So JAEGER UI shows `<trace-without-root-span>`.

**Why JAEGER client is not gener

[2019-04-18 12:49] Falco20019 commented on #143
Ok, so the problem is not, that the client is not *generating* 128bit TraceIDs but it's not correctly *extracting* it from an incoming trace. This makes a huge difference, since the flag only affects *generation* of new IDs.

I just tested it and it seems to work when getting a 128bit trace id (independant of the flag).

Can you have a look at the HTTP headers that you receive? There should be a `

[2019-04-19 06:11] Tanejaankush commented on #143
Awaiting the new version of JAEGER client :)

[2019-04-23 03:50] #143 closed

[2019-04-23 05:30] Falco20019 commented on #143
@Tanejaankush: I just released v0.3.2 on NuGET. Please update your project and see if the issue is resolved. If not, please feel free to reopen this issue.

[2019-04-23 14:53] yurishkuro opened #145 "Release 1.x"
@Falco20019 any reason not to go to 1.0 version?  I think this lib is production ready.

[2019-04-23 15:04] Falco20019 commented on #145
I would first want to finish #116 and #57 since those are huge breaking changes. Especially since we already know that we want to invert the Thrift dependency before we have GRPC as alternative. This will change the naming of the NuGET packages.

[2019-04-23 15:13] yurishkuro commented on #145
sounds good.

[2019-05-10 13:56] Marusyk opened #146 "No custom logs when using Serilog"
## Requirement - what kind of business use case are you trying to solve?

I need to send to Jaeger custom logs. Now it works only when I use `Microsoft.Extensions.Logging.ILoggerFactory`

My Startup
[code]
Somewhere in controller:
using Microsoft.Extensions.Logging;

[code]
Result
![image](https://user-images.githubusercontent.com/9221694/57532263-f7dd7680-7343-11e9-90ec-cef1829fa13a.png)

## Prob

[2019-05-10 15:52] Falco20019 commented on #146
Please try moving the UseSerilog call before the UseStartup call. I assume since you are requesting the logger factory before registering it, that it should still be null.

[2019-05-10 16:52] Marusyk commented on #146
didn't help. the same result

[2019-05-10 20:14] Marusyk commented on #146
@Falco20019  Also I tried
[code]

[2019-05-11 12:06] Falco20019 commented on #146
I will have a more detailed look at it on Monday.

[2019-05-13 16:35] Marusyk commented on #146
Ok, thank you in advance

[2019-05-13 20:24] Marusyk opened #147 "Configure LogLevel"
Let's say I have the following appsettings:

[code]

Then my configuration:

[code]
I have specified minimum log level to Error. But at the end I got many other logs. How can I configure that?
![Screenshot_1](https://user-images.githubusercontent.com/9221694/57651578-35f1c900-75d6-11e9-9648-bdec9ad04b7d.png)

Actually I need only error logs (or maybe warnings too) but I got a lot of logs that I do

[2019-05-13 21:19] Falco20019 commented on #146
You call services.AddOpenTracing(); before registering the Singleton. According to the example this needs to be set afterwards.

[2019-05-13 21:21] Falco20019 commented on #147
I assume this should be the same problem as in #146 that you mixed up the order of registering the Singleton and calling services.AddOpenTracing();

[2019-05-13 22:03] Marusyk commented on #146
@Falco20019 Thanks but nothing help. I've tried call services.AddOpenTracing(); afterregistering the Singleton - no results. Add to Tracer `WithLoggerFactory`. Tried use the configuration class. No results. It seems the problem somewhere else, because default micrisoft logger works well

[2019-05-13 22:49] Marusyk commented on #146
Sample project https://github.com/Marusyk/JaegerSerilog

[2019-05-14 04:52] Falco20019 commented on #146
Thanks for the sample. I will look into it but it sounds more like Serilog (or it‘s usage) is the problem.

Thinking a bit more about what I wrote yesterday, it shouldn’t make a difference since the Singleton instance is created when needed and not at the place of the call.

I look into it in the next 2-3 hours.

[2019-05-14 07:15] Falco20019 commented on #147
I had a look at your [example](https://github.com/Marusyk/JaegerSerilog). All the logs that you mention belong to `OpenTracing.Contrib.NetCore` and are not related to `ILogger` or even `Jaeger` itself. They are created for you, because you enabled them by calling `services.AddOpenTracing()`. So your request at https://github.com/opentracing-contrib/csharp-netcore/issues/42 is the correct place.

[2019-05-14 07:15] #147 closed

[2019-05-14 07:38] Falco20019 commented on #146
Your example is not taking the configuration from `appsettings.json`. According to the official [example from serilog](https://github.com/serilog/serilog-aspnetcore/blob/dev/samples/SimpleWebSample/Program.cs), you need to read from the configuration manually.

[code]

For configuring the `ITracer` from `appsetting.json` please use the following code:
[code]

Your appsettings.json might look somet

[2019-05-14 07:42] #146 closed

[2019-05-26 19:23] rstraszewski commented on #145
Hi, any ETA for version 1.0?

[2019-05-27 05:15] Falco20019 commented on #145
One of the main blockers was Apache Thrift. https://issues.apache.org/jira/plugins/servlet/mobile#issue/THRIFT-2947 Was fixed just yesterday.

I assume we can target the 0.4.0 milestone the next 3-4 weeks and might then release v1.0.0

[2019-06-18 11:43] AlexeiScherbakov opened #148 "OpenTelemetry support"
OpenMetrics and OpenCensus merging into OpenTelemetry(https://github.com/open-telemetry)
When it will be implemented in jaeger client library for .NET?

[2019-06-18 13:11] yurishkuro commented on #148
Does this help?

https://medium.com/jaegertracing/jaeger-and-opentelemetry-1846f701d9f2

[2019-06-18 14:08] AlexeiScherbakov commented on #148
Yes, I already read this. So more accurate question. For current (now+1 year) development, if collector will be Jaeger, what set of libraries should be used: OpenMetrics or OpenTelemetry? Today we planning to replace zipkin with jaeger.

[2019-06-18 14:14] yurishkuro commented on #148
I assume you mean s/OpenMetrics/OpenTracing/.

At the moment, OpenTelemetry is not in a state where you can start using it, so OpenTracing (or OpenCensus) are your only options. That should have little impact on which tracing backend you want to use, since they will all support Jaeger. However, you want to pay attention to which trace context format you want to use, if you're in a green field - I

[2019-06-18 18:55] polivbr opened #149 "Support Defer sampling state"
## Requirement - what kind of business use case are you trying to solve?

We have cases where we want to defer the decision to sample to a downstream service, yet still want to have trace identifiers available for correlation.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, Jaeger interprets the absence of the x-b3-sampled header as a Deny sampling state, causing

[2019-07-10 18:22] Falco20019 commented on #116
I prepared something to try out. I wanted to use reflection to check what sender implementations are loaded with the application. Sadly, this does not work with ASP.NET Core. It seems that DLLs that are not referenced in code get not loaded into the AppDomain in ASP.NET Core.

The idea was to make it close to how Java implemented it with jaeger-thrift. It looks like I need to create a registry whe

[2019-07-11 12:10] yhvicey commented on #57
What about using lib's own logging interface, then wrap it in shim project? Everything related to `Microsoft.Extensions.*` can be put at shim project, including some adapter classes, and:

1. If users already used `Microsoft.Extensions.*` packages, they can consume this shim project directly;
1. Or, if users not satisfied with adapter classes we provided, they can build their own adapt classes;
1.

[2019-07-11 13:54] Falco20019 commented on #57
We already use other `Microsoft.Extensions.*` libs, especially for Configuration right now. So I'm not sure anymore if we should try to get rid of them (needing to wrap configration AND logging) or if we should just keep them until there is a feature request from a use who really needs this. Since the initial post, .NET Framework is slowly dying in favor of .NET Core. And starting with .NET Framew

[2019-07-26 09:11] wgtmpeters commented on #149
This would make sense to me as well.
However how do you see this working, as you would expect only a full trace to be logged. Or would it be fine for you if only spans started after the sampled header are reported?

[2019-07-26 14:28] polivbr commented on #149
For my purposes, having the spans start after the sample header is reported is just fine. Frankly, I'm not sure how else it could possibly work.

[2019-07-29 15:41] noamichael opened #153 "Client Library Throws Exception If Agent Is Not Available"
## Requirement - what kind of business use case are you trying to solve?

While testing our application, we only deploy the application itself without having to spin up an instance of a jaeger agent or collector.

## Problem - what in Jaeger blocks you from solving the requirement?

During a deployment of our app, it's possible the agent/collector is not yet available or will never be available. I

[2019-07-29 17:37] Falco20019 commented on #153
Hi, thanks for filing this issue. This is not a bug but defined behavior in Java and C#. There is a difference between the endpoint being down and the agent not being discoverable.

The issue you linked is about the agent being discoverable but not reachable. In this case, the Client will not throw. But if you create an UdpSender using a DNS name instead of an IP, the DNS will be resolved. If this

[2019-07-29 19:40] noamichael commented on #153
@Falco20019

The reason we're using a host name is because we deploy within a Kubernetes environment and we don't have access to the pod/container IP. I don't think we can avoid using the host name.

Is this the recommended approach for now - to use the `HttpSender` (`JAEGER_ENDPOINT`)? I was hoping to sidecar the agents within the same pod as the application.

I think it's better for you to retry

[2019-07-29 19:49] Falco20019 commented on #153
When using jaeger as sidecar, the DNS should be resolvable immediately, even when the service is not yet reachable. That’s the regular use case. I think it should only fail if you deploy it without jaeger and therefore when there is no DNS name.

I‘m pretty sure over at the java client should be a similar discussion because it existed much longer than the C# implementation. I will also wait for wh

[2019-07-29 19:54] noamichael commented on #153
I see, that makes sense. In this case it's the fact that our tests don't include the sidecar.

[2019-07-29 20:02] Falco20019 commented on #153
I understand your point. We also kept it do be in sync with Java since this is our reference. We use the behavior to check for misconfiguration. For your test environment, it could be enough to set JAEGER_ENDPOINT so that it‘s not failing until we decide if it should fail or not.

I have no strong feelings for keeping it or getting rid of it right now, that’s why I want to wait for some more knowl

[2019-07-29 20:17] Falco20019 commented on #149
@yurishkuro How is this usually solved throughout the different clients? This sounds like a meta topic to me.

[2019-07-29 20:20] #121 closed

[2019-07-29 23:00] yurishkuro commented on #149
It is a meta topic. Jaeger only supports deferred sampling in Node.js client, and only in one process, i.e. the uber-trace-id header does not have a representation for deferred sampling at this time.

[2019-07-29 23:02] yurishkuro commented on #153
I think it's reasonable to not throw until reporting.

[2019-07-31 11:37] Falco20019 commented on #149
@polivbr , can you please create an issue over at the meta repo https://github.com/jaegertracing/jaeger

[2019-07-31 11:37] #149 closed

[2019-07-31 18:38] Falco20019 commented on #85
It's a hard problem on Appveyor. Right now, we are using Windows Server 2016 build environment to build everything. Sadly, Appveyor does not support running Docker Containers for Linux on those machines. There seems to be an option if you buy nested virtualization but that's also a bit quirky...

They also work on a solution based on Windows Server 2019 and Docker EE which would allow using Window

[2019-08-18 11:42] bocharovf opened #154 "Infinite span creation for Jaeger internal requests when OpenTracing.Contrib.NetCore and HttpSender are used"
## Requirement - what kind of business use case are you trying to solve?
Hide Jaeger internal request traces in Jaeger UI to simplify trace searching for customers.

## Problem - what in Jaeger blocks you from solving the requirement?
If JAEGER_ENDPOINT property is specified Jaeger uses HttpSender to send spans via Http directly to Jaeger Collector. [OpenTracing.Contrib.NetCore package](https://gi

[2019-08-18 11:55] Falco20019 commented on #154
As far as I understand your request, this belongs to https://github.com/opentracing-contrib/csharp-netcore and not here. So please open the issue there since the projects are not sharing one team or repository.

[2019-08-18 12:32] bocharovf commented on #154
Well, yes, we currently use workaround you provided and it works.

But in our case we have 240+ products and approximately the same number of teams. Some of them use .net core, some of them not. Using workaround provided above, .net core teams have to deal with the details of Jaeger / OpenTracing internal implementation for .net core. While other teams (e.g. Java teams) don't need that. So we get

[2019-08-18 12:39] Falco20019 commented on #154
Thanks for the input. I will give it another look later.

[2019-08-21 11:37] xumix opened #155 "Any option to ignore request pattern?"
Hi.
Is there any way to configure client so that it would not report some incoming/outgoing requests? For example health checks or some service calls.
Something like this:
[code]

[2019-08-25 16:52] #154 closed

[2019-09-03 10:27] Falco20019 commented on #155
It depends on what environment you are using. It sound's like you want to use ASP.NET Core. In this case, you might want to use [opentracing-contrib/csharp-netcore](https://github.com/opentracing-contrib/csharp-netcore).

There is an example on how to add ignores here:
https://github.com/opentracing-contrib/csharp-netcore/blob/master/samples/Shared/JaegerServiceCollectionExtensions.cs

[2019-09-30 18:30] gregbair opened #158 "Configurable log level for logging reporter"
## Requirement - what kind of business use case are you trying to solve?

We are trying to reduce redundant logging in our services. While we could just turn off the logging reporter, it would make more sense for us to put the output from the Logging reporter on `Debug` or even `Verbose`.

## Problem - what in Jaeger blocks you from solving the requirement?

The LoggingReporter is hard-coded to ou

[2019-09-30 20:35] Falco20019 commented on #158
Please have a look at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/index?view=aspnetcore-2.2#log-filtering to see if configuring the ILoggerFactory would already solve your problem. You can set filters on a class full name and therefore also deactivate the log entries from this class. Or is it just about this one specific log entry level?

[2019-10-01 11:30] gregbair commented on #158
It's about this one. I could use filtering to do this, but it does complicate configuration, as we would basically have to configure multiple services to say "Logging level information except this one class". That gets complex if we're doing it for multiple things (we already do this for ASP.NET logging, which is way too verbose at Information, but I digress).

We do provide a separate wrapping im

[2019-10-13 01:36] yurishkuro opened #159 "Add icons to packages on Nuget"
The packages on Nuget (https://www.nuget.org/packages/Jaeger/) show up with a generic icon.

Can we configure the package to display the Jaeger icon?

* stackoverflow: https://stackoverflow.com/questions/38329201/how-to-add-an-icon-to-a-nuget-package
* Icon: https://en.gravatar.com/jaegertracing

cc @Falco20019 @cwe1ss

[2019-10-13 17:50] bocharovf commented on #159
There are two ways to do that: specify icon url or embed icon in nuget package.
Embeded icon has some advantages, but requires nuget 5.3 which is not available on [AppVeyor](https://www.appveyor.com/docs/windows-images-software/) yet. So I would say we should use url for a while.
Using 256x256 png icon (like default nuget icon) hosted on github from images folder of master branch.

[2019-10-13 17:54] #159 closed

[2019-11-19 11:09] joacar commented on #158
Hi,

I experience the same issue with Jaeger client CSharp-0.3.6.0, the logs are written even though I've set the filtering level during configuration of logger:

[code]
Still for the HTTP POST the Logs in category`Microsoft.AspNetCore` are written:

| event | "Microsoft.AspNetCore.Mvc.BeforeOnAuthorization"
|-- | -- |
|component | "Microsoft.AspNetCore"

[2019-11-19 17:05] Falco20019 commented on #158
@gregbair Sorry, I currently don’t have a lot of time for the project.

@joacar These entries should come from https://github.com/opentracing-contrib/csharp-netcore and not from here I think. Please check

[2019-11-19 17:22] joacar commented on #158
@Falco20019 I'll check that repo, thanks for quick reply

[2019-11-19 17:24] gregbair commented on #158
@Falco20019 I understand. I’ll close this as there are other methods to do this.  Thanks!

[2019-11-19 17:24] #158 closed

[2019-12-09 08:04] hannahchan commented on #90
Has work started on this yet? I'm currently looking at using the Jaeger C# client in a ASP.NET Core 3.1 app. Out-of-the-box with a small configuration (1 line), ASP.NET Core 3.0 apps automatically propagate the W3C Trace Context. All the Jaeger client needs to do is collect the spans and send them to the Jaeger agent/collector.

I haven't actually look at any code yet in the Jaeger C# client libra

[2019-12-09 09:34] Falco20019 commented on #90
Work was started by @grounded042 on https://github.com/jaegertracing/jaeger-client-csharp/tree/w3c-trace-headers but it never got finished AFAIK. Don’t know the current state and am not available until Jan. 7th 2020 myself.

[2019-12-09 19:15] yurishkuro commented on #90
@hannahchan have you considered using OpenTelemetry client? I don't know if it's prod-ready yet, but it will support TraceContext by default, and will come with Jaeger exporter.

[2019-12-10 09:43] hannahchan commented on #90
@yurishkuro Yea I've looked at OpenTelemetry. Also looking forward to that project maturing however it doesn't seem to be happening fast. I'll give it another year. It's definitely not production ready. I might have a play with it again later to see if anything has changed.

[2019-12-10 23:18] grounded042 commented on #90
My apologies on this. I switched jobs soon after I started the work on this and I am no longer doing anything related to dotnet or Jaeger which makes it hard for me to stay on top of things relating to this project. If someone has the time to take this up they are more than welcome to.

[2020-01-15 08:10] Falco20019 commented on #155
@xumix Is this resolved with my answer? If yes, please close the ticket. Thanks :)

[2020-01-15 08:18] xumix commented on #155
Thanks! Looks like at the moment of opening the ticket there were no sucks option.

[2020-01-15 08:18] #155 closed

[2020-01-29 15:12] bastijnv opened #162 "RemoteReporter with HttpSender always ignores spans on flush"
## Requirement - what kind of business use case are you trying to solve?

Send traces directly to the Jaeger Collector over HTTP using the RemoteReporter with the HttpSender.

## Problem - what in Jaeger blocks you from solving the requirement?
As resolution of issue #154 . the "ot-ignore" property is added by default as custom property to the HttpSender. In the default setup a singleton tracer wi

[2020-01-29 17:57] Falco20019 commented on #162
@bocharovf Can you have a look and tell what you do differently? I don’t test it with netcore since it’s two different projects. If it introduces a bug there for regular traces without possible resolution, I need to revert #156 and have to advise you to use the workaround described by them as this is a bug from netcore and not this lib.

[2020-01-29 18:07] Falco20019 commented on #162
@bastijnv As far as I can tell, this should only ignore the calls for tracing that go to an netcore application (like internal ones) but not your request. The call to UDP endpoint should still come through. So I’m not sure that the problem arises from the location and change you mention.

What value have you used for JAEGER_ENDPOINT? Are you using it in the correct form including the http scheme?

[2020-01-29 18:39] bastijnv commented on #162
@Falco20019 the thing is I'm not sending to the UDP endpoint, I'm sending directly to the HTTP endpoint since UDP routing is not available in my environment.

In localhost setup the JAEGER_ENDPOINT is http://localhost:14268/api/traces (exactly as in the documentation in the Readme).

[2020-01-29 19:38] Falco20019 commented on #162
I just tried out your exact code with a fresh build as `netcoreapp3.1` with `3.1.101` using IISExpress and Kestrel and it's not occurring on my windows machine.
[code]

It's correct that it should ignore calls to `http://localhost:14268/api/traces?format=jaeger.thrift`. This is exactly to avoid loops. But you should also see a log entry as the one I just copied.

[2020-01-29 19:44] bastijnv commented on #162
Sorry, the logging reporter was for me to verify at least spans were ended. For me it is not correct the call to http://localhost:14268/api/traces?format=jaeger.thrift is ignored. In the list of spans that goes to that endpoint is my custom "test" trace of the code above. That is now ignored and no longer send to my collector which stores it in elasticsearch for the jaeger-query to retrieve.

[2020-01-29 19:50] Falco20019 commented on #162
You misread the output. It does not ignore calls to that endpoint. It just ignores the self reference.

You also produce a minor problem by mixing Jaeger.Configuration with regular Tracer.Builder usage. You should not mix those two and therefore use `ReportingConfiguration` and `SamplerConfiguration` instead of `Sampler` directly. Otherwise, you end up with an `RemoteControllerSampler` being creat

[2020-01-29 19:59] bastijnv commented on #162
I checked with your code but the issue remains. I do not fully understand your following remark:

Those self reference spans are in the same batch as my custom span. As a batch they seem to be written into the binary format and clubbed into a single request. That entire request is ignore by the HttpSender because of the CustomIgnorePattern added by default/hardcoded in the constructor.

My Jaeger

[2020-01-29 20:04] Falco20019 commented on #162
Can you try the following to make sure it's not a problem with your environment:
[code]

[2020-01-29 20:09] bastijnv commented on #162
Ok, found the issue. Seems it was between the keyboard and chair. Apparently I was running two elasticsearch instances locally the entire day and I have been tying everything to the wrong storage endpoint.

Thanks for all the support and sorry for wasting time. As a plus side I now know the code well enough the understand what happens..

[2020-01-29 20:12] Falco20019 commented on #162
This explains it :) Glad you were able to fix it. BTW, you do not need the `GetOrCreateOpenTracer` method with all the checks on `GlobalTracer`. It's totally enough to do the following, as ASP.NET Core ensures this only get's called once.

[code]

[2020-01-29 20:12] #162 closed

[2020-01-29 20:19] bastijnv commented on #162
I know, but our actual codebase is completely abstracting away the tracer implementation and the code is more complex there. We accept different tracers for different environments, some 15 years old some new and based on opentracing (for cloud deployments).

I started from that and stripped down :).

[2020-02-03 11:34] hannahchan opened #163 "RemoteControlledSampler fails when Agent is on a different host from the application"
When the `JAEGER_AGENT_HOST` environment variable is set to a host other than the default localhost, the Jaeger.Samplers.RemoteControlledSampler fails with the following exception;

[code]

I think it's trying to read the sampling configuration of the agent. When I change to the `const` sampler by setting the following environment variables, the agent starts receiving traces.

[code]
This confirms

[2020-02-06 15:59] Falco20019 commented on #163
Hi @hannahchan, thanks for your report.

I'm sadly pretty occupied this and next week with another project. But I will try to fix it ASAP afterwards. Feel free to prepare a pull request for it if you have an assumption what's causing it.

[2020-02-06 16:11] Falco20019 commented on #163
I just gave it a quick look because it sounded strange that it works with const sampler.

What sampler do you intend to use? If you have not defined any sampler yourself, the default sampler is used. That's an remote controlled sampler whose endpoint you can configure using `JAEGER_SAMPLER_MANAGER_HOST_PORT` and which defaults to `localhost:5778`.

So if you intend to use a const, probabilistic or

[2020-02-07 11:25] hannahchan commented on #163
I can confirm that setting the environment variable `JAEGER_SAMPLER_MANAGER_HOST_PORT` to `localhost:5778` works. However I thought that just setting `JAEGER_AGENT_HOST` should work and the RemoteControlledSampler would know to read its configuration from port 5778 by default. It's confusing because switching out the RemoteControlledSampler for the const sampler does sent traces to the agent.

I'm

[2020-02-07 11:29] Falco20019 commented on #163
Hm, technically it's two different things at two different end points. But I assume you are right, that usually one would assume that just changing the agent would assume to also change the endpoint as it's mostly the same with just another port. I will look into it :)

[2020-02-07 16:05] Falco20019 commented on #163
It is related to https://github.com/jaegertracing/jaeger/issues/1971#issuecomment-570631770

The general consent is there to keep the variables decoupled, so it wouldn‘t be good to break that consent with this change. I will make another PR to resemble the consent here. But this means the default way is to specify the config endpoint in the separate variable as explained before.

I will make sure

[2020-03-02 13:07] #163 closed

[2020-03-26 16:07] brunosantosfarfetch commented on #145
Hi,

Does the Release 1.0 have any plans to be released yet? It would be great to have the official CSharp jaeger lib production-ready.

Regarding the comment above and having into account that THRIFT is deprecated it shouldn´t block the release, or I'm missing something?

Thanks.

[2020-04-02 10:31] Falco20019 commented on #145
Hi @brunosantosfarfetch, sorry for the late response.

AFAIK https://github.com/jaegertracing/jaeger/issues/773 is still open. That's why we haven't moved on with #139. So Thrift is currently still the default and #116 and #57 are still the blockers.

[2020-04-07 06:55] #148 closed

[2020-04-07 06:58] Falco20019 commented on #145
I try to focus on 0.4.0 this week, so we should get a lot closer to 1.0. 0.4.0 already prepares for getting rid of THRIFT in the long-run and introduces the necessary breaking changes.

[2020-04-09 06:19] #116 closed

[2020-04-16 08:19] #75 closed

[2020-04-16 08:20] #76 closed

[2020-04-16 08:33] Falco20019 opened #170 "Do not strip leading zeros from trace IDs"
Motivation in the tracking issue: jaegertracing/jaeger#1657

[2020-04-16 09:20] #153 closed

[2020-04-16 09:25] Falco20019 opened #172 "Support delayed sampling"
Per meta-ticket jaegertracing/jaeger#1861

[2020-04-16 09:28] Falco20019 opened #173 "Adaptive sampling not always updating"
See https://github.com/jaegertracing/jaeger/issues/1728 and https://github.com/jaegertracing/jaeger/issues/1729

[2020-04-16 12:08] Falco20019 commented on #77
Related to https://github.com/jaegertracing/jaeger/issues/1269

[2020-04-16 19:10] Falco20019 commented on #77
Playground at https://github.com/jaegertracing/jaeger-client-csharp/tree/Falco20019/encoder-transport

[2020-04-17 05:32] #170 closed

[2020-04-17 06:35] Falco20019 commented on #115
We should consider https://github.com/jaegertracing/jaeger/issues/161

[2020-05-06 07:55] chrsas opened #174 "How to increase grpc log level?"
How to increase grpc log level to `Error`?
[code]

[2020-05-06 13:51] Falco20019 commented on #174
GRPC logging is done through environment variables and not managed by jaeger itself. If you want to set it from code, just call `Environment.SetEnvironmentVariable("GRPC_TRACE", "all");`.

[2020-05-07 20:30] jnovick commented on #90
Are there any updates on this?

[2020-05-07 20:37] yurishkuro commented on #90
This is up for grabs.

[2020-05-08 05:04] Falco20019 commented on #90
Thanks @yurishkuro, I totally missed the update from @grounded042 since I was a month off in December.

[2020-05-10 14:06] chrsas commented on #174
In my docker file, I used these codes, but it's no effort. @Falco20019
[code]

[2020-05-10 19:02] Falco20019 commented on #174
Have your set the logger?

https://grpc.github.io/grpc/csharp/api/Grpc.Core.GrpcEnvironment.html#Grpc_Core_GrpcEnvironment_SetLogger_Grpc_Core_Logging_ILogger_

Either use the console logger or a text file logger as endpoint. Depending on your use case.

[2020-05-11 03:35] chrsas commented on #174
In Program.cs
[code]
In Dockerfile
[code]
But the log information didn't change, 99% log info is grpc, it's hard to see the business log.

![image](https://user-images.githubusercontent.com/6327955/81521991-7d429f00-937b-11ea-82a9-55d76bf452d4.png)

[2020-05-11 05:20] Falco20019 commented on #174
This sounds like a docker usage issue and not Jaeger. But I will still do my best to help you. I haven’t worked a lot with environment variables in docker images, but according to https://docs.docker.com/engine/reference/builder/ you need to separate key and value by a whitespace and not the equals sign.

Try this:
[code]

[2020-05-11 06:12] chrsas commented on #174
Thank you for your help. But after I replaced `=` by space, the log output still include info level.
PS: `=` is antoher form to set [environment variable](https://docs.docker.com/engine/reference/builder/#env).
In docker image, use `printenv`:
[code]

[2020-05-11 06:30] Falco20019 commented on #174
I digged a bit deeper into GRPC logging for C# and found this:
https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/GrpcEnvironment.cs#L55

It seems, that by setting `GrpcEnvironment.SetLogger(new ConsoleLogger());` manually, you are killing the environment check. So just comment that line out (as using console logger with verbosity from environment is the default) or manually add `GrpcEn

[2020-05-11 07:00] chrsas commented on #174
I tried the following 3 ways, but nothing changed.
- In `Program.cs` just used `GrpcEnvironment.SetLogger(new LogLevelFilterLogger(new ConsoleLogger(), Grpc.Core.Logging.LogLevel.Error, true));`
- Use `GrpcEnvironment.SetLogger(new LogLevelFilterLogger(new ConsoleLogger(), Grpc.Core.Logging.LogLevel.Error, true));`  and `ENV GRPC_VERBOSITY ERROR`
- Just use `ENV GRPC_VERBOSITY ERROR`
PS: I found t

[2020-05-11 07:39] Falco20019 commented on #174
Sorry, I assumed you try using the branch from #169.

The regular releases don't use gRPC at all right now. So are you sure that it's the C# side that's adding logging entries? if you use `GrpcEnvironment.SetLogger(new NullLogger())` you can make sure that it's not C# that is creating these log entries.

[2020-05-13 09:55] chrsas commented on #174
Thank you very much, the log was from  `K8s Jaeger Agent Sidecars`, just change it's `--log-level`.

[2020-05-13 09:55] #174 closed

[2020-05-26 10:34] EngRajabi opened #175 "how trace with log level like tracing only error"
how trace with log level like tracing only error.
For example, if the level Error was set, only save the erroneous requests

[2020-05-26 11:17] Falco20019 commented on #175
I don't really understand what you mean with "log level". The logs that are part of `Span` don't have a log level. `Span` itself also has no log level. A `Span` *can*  have an `error` tag, which is for example set if an exception was thrown. `Trace`s itself don't have a notation of log level neither.

There are multiple points where you can decide if a span get's sampled or not:
* `SpanContext`, w

[2020-06-04 06:19] Falco20019 commented on #175
@EngRajabi Were you able to solve your problem?

[2020-06-05 15:40] Lercher commented on #145
It's more a question: won't there be (nuget) support for Framework 4.x in version 1? Trying that for 0.3.7 yields:

`Install-Package : Could not install package 'Jaeger 0.3.7'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more in

[2020-06-05 17:15] Falco20019 commented on #145
We are currently targeting `netstandard2.0` and therefore `.NET Framework 4.6.1+` and `.NET Core 2.0+`. I will have a look, if we can add the `net45` moniker to the `TargetFrameworks` or if any dependency is blocking this.

[2020-06-05 17:54] Falco20019 commented on #145
@Lercher I just gave it some love and it sadly won't be possible to support `.NET Framework 4.5`. We have a dependency on `Microsoft.Extensions.Logging.Abstractions 2.0.0` due to the `NullLoggerFactory` being added there first. For `Microsoft.Extensions.Configuration.EnvironmentVariables` we could go down all the way to `1.1.2` which supports `net451`.

We also use `ApacheThrift` which only suppor

[2020-06-05 20:06] Lercher commented on #145
@Falco20019 That's really cool, I'm fine with 4.6.1 personally. Due to expectable heavy workloads migrating to 5.x, however, I guess there is common appreciation for support for any 4.x.

As I understand it, Jaeger's agent doesn't support gRPC ingress, only Thrift (right?) So does that mean that the agent won't be supported any more? (My source on agent's connectivity:
https://www.jaegertracing.io

[2020-06-05 20:22] yurishkuro commented on #145
The new agent based on OpenTelemetry collector does support gRPC ingress.

[2020-06-06 08:28] Falco20019 commented on #145
Newer versions like 4.7 and 4.8 have better support for .NET Standard with less clutter in dummy DLLs produced. So the later you can get, the better. Supporting 4.x older than 4.6.1 is currently pretty hard when developing against netstandard as you have to hop a lot of extra loops.

I only meant the hard dependency as part of Jaeger.Core. Starting with 0.4.0, the plan is to be able to choose what

[2020-06-06 12:11] Lercher commented on #145
Sorry if there’s a misconception, I’m not native English speaking: please read my „any 4.x“ not as „all 4.x“. So „4.6.1 or later“ is greatly welcome.

[2020-06-07 16:38] EngRajabi commented on #175
No
I just want the http != 200 requests to be tracked

[2020-06-07 23:19] Falco20019 commented on #175
This should be hard to do apriori, since all Spans that are part of the trace are reported individually. Even before the HTTP Response is created. So you can only clean up after the complete trace is done. There is no notion about when the „complete trace“ is done as OpenTracing is not bound to HTTP or web itself. It would only be possible if you have just one single span for the whole handling wi

[2020-06-08 01:14] yurishkuro commented on #175
In a distributed system, this is only possible with Tail Based Sampling (see https://www.jaegertracing.io/roadmap/)

[2020-06-08 01:15] yurishkuro commented on #175
If you're tracing a single monolith service, than it's possible to sample on errors, Jaeger Go/Node clients partially support it (but not fully, spans that are already finished will still he lost).

[2020-06-08 15:28] ykvichare opened #176 "Unable see traces with HTTPS Jaeger endpoint in C#"
I am using below code for connecting HTTPS Jaeger endpoint in C#. Unable to see traces . could you please help on this?

 if (GlobalTracer.IsRegistered()) {
                return GlobalTracer.Instance;
            }

            var endpoint = "https://localhost:14268/api/traces";
            var remoteReporter = new RemoteReporter.Builder()
                .WithLoggerFactory(loggerFactory) // op

[2020-06-08 19:23] Falco20019 commented on #176
Can you post the complete method where it is hooked up? Also do a .ToString() on your tracer and post the output to see if everything was wired up correctly, but looks fine on first view. Are you using ASP.NET Core? If yes, are you using the OpenTacing.Contrib.NetCore package?

[2020-06-09 06:04] ykvichare commented on #176
Hello,  Thanks for your suggestion.
I am using opentracing with  Asp.net and C#.
Jaeger version : 0.3.6
Opentracing version : 0.12.0
.Net Framework : 4.6.1

Traces Output :
Tracer(ServiceName=DotNet4.5, Version=CSharp-0.3.6.0, Reporter=CompositeReporter(Reporters=RemoteReporter(Sender=HttpSender),
LoggingReporter(Logger=Microsoft.Extensions.Logging.Logger`1[Jaeger.Reporters.LoggingReporter])),
Sam

[2020-06-09 07:11] Falco20019 commented on #176
Where is this sample from? This also differs from what you posted yesterday. Are you using both or which one is in use? JaegerEndpoint is set to HostName instead of localhost in this one.

Based on the output, it is not using the ConstSampler, so there might be a GlobalTracer registered that is used instead of your code. Just comment out that if for testing to find out if that’s the case. Because

[2020-06-09 09:27] ykvichare commented on #176
Hello,
I am using Today's code , I am using actually IP instead of "HostName" . Basically I am trying with secure connection.
HttpSender is not showing that information there ?
How to use httpSender for establishing secure (HTTPS) connection ?

[2020-06-09 16:46] Falco20019 commented on #176
Can you post exactly the method that you use? Are you seeing the tracing in console or are they shown neither in console nor in endpoint? Because then it might not be related to configuration of the tracer but usage.

[2020-06-10 16:50] phxnsharp opened #177 "Duplicate Span IDs because of default Random Number Generator"
## Requirement - what kind of business use case are you trying to solve?

Instrumenting a Managed C++ application with Jaeger using jaeger-client-csharp. The application is a short-lived process that is often run multiple times in parallel to solve portions of a larger problem.

## Problem - what in Jaeger blocks you from solving the requirement?

This library uses the default .NET Random() constr

[2020-06-11 17:37] Lercher commented on #176
Let me guess: You probably need to dispose of the Tracer as well. If the (example?) program exits immediately after calling the shown method, the tracer's backing queue might not be flushed properly, effectively not reporting to the http endpoint.

[2020-06-12 04:40] ykvichare commented on #176
Hello,
For authentication Part, using SSL certificate for validation and establish connection between client and server, need to integrate below code RemoteReporter.

               var httpClientHandler= new HttpClientHandler();
                System.Net.ServicePointManager.ServerCertificateValidationCallback = delegate { return true; };
                ServicePointManager.SecurityProtocol = Tls

[2020-06-12 06:59] Falco20019 commented on #176
HttpSender uses THttpHandler. This can receive a X509Certificate. But we currently don’t offer that constructor through the builder. You can copy the code of HttpSender and modify it so that you can use the correct constructor to see if it works. This will set the client certificate. I think the server certificate validation cant‘t also be disabled with THttpHandler right now.

[2020-06-12 07:08] Falco20019 commented on #176
It might be good to change the code to let the user define the HttpClient also directly through the builder as this is often done in different implementations like ASP.NET as singleton. I will give it a look next week if I’m not too full with customer projects. But for now, modifying THttpTransport and HttpSender would be your best bet until the PR is here. Feel free to push your test as PR.

[2020-06-12 09:10] Lercher commented on #176
... or implement that in the Jaeger Agent so that all language clients could use https transport immediately and you have the option to put the client certificate in a different process environment or container to keep it a bit safer.

[2020-06-12 09:20] Falco20019 commented on #176
@yurishkuro Does the jaeger-agent support client certificates?

[2020-06-12 09:41] Lercher commented on #176
No it won’t even use http as a transport for architectural reasons burdening the work on all clients. Questionable IMHO.

[2020-06-12 10:13] Lercher opened #178 "net461 support and thrift.dll"
## Requirement - what kind of business use case are you trying to solve?

Instrumenting an existing .Net Framework 4.6.1 application and using UDP for communication with a local jaeger agent.

## Problem - what in Jaeger blocks you from solving the requirement?

The Thrift reference. Adding `New Jaeger.Senders.Thrift.UdpSender()`  to the remote reporter builder raises the exception

[code]

I've f

[2020-06-12 12:04] Falco20019 commented on #176
@Lercher It uses http for the connection to jaeger-collector, where the client certificate would be needed. HttpSender also just talks to jaeger-collector and skips the agent.

[2020-06-12 12:09] Falco20019 commented on #178
I what perspective is the public API different?

[2020-06-12 12:51] Lercher commented on #178
This Thrift:
![image](https://user-images.githubusercontent.com/5909334/84502118-0b31e280-acb8-11ea-8ae2-9c1aefeb39a1.png)

Adds this reference:
![image](https://user-images.githubusercontent.com/5909334/84502703-251ff500-acb9-11ea-8e3c-76467b8a4f8e.png)
with path `D:\Daten\github.com\jaegertracing\jaeger-client-csharp\packages\ApacheThrift.0.13.0.1\lib\net45\Thrift45.dll`

Running my sample conso

[2020-06-12 13:16] Falco20019 commented on #178
You should not add a dependency on ApacheThrift yourself. Use the transitive dependency through Jaeger. Only that way you will end up with the correct netstandard version of Apache. See https://github.com/dotnet/sdk/issues/1791#issuecomment-440895111

[2020-06-12 13:16] Lercher commented on #178
On API differences compiling `Jaeger.Thrift`: Its a lot of `using` errors like

[code]

and then a lot of `doesn't implement` like that:

[code]

which is probably caused by thrift's different async implementation model.

[2020-06-12 13:18] Falco20019 commented on #178
Yes I checked the code base for thrift. net45 is only for comparability with code generated as „csharp“. We generate as „netstd“. Make sure to not reference ApacheThrift in your own csproj to avoid this problem.

[2020-06-12 13:42] Lercher commented on #178
Yeah. Made a new net461 project, added the nuget `Successfully installed 'Jaeger 0.3.7' to JaegerFw461Sample` and it reports

[code]

I'm just probably too dumb for this. So sorry. Thanks for your help!

[2020-06-12 13:43] #178 closed

[2020-06-14 14:51] ykvichare commented on #176
How Can I proceed with  client certificate on above scenario ?

[2020-06-14 18:12] Lercher commented on #176
I guess, https://github.com/jaegertracing/jaeger-client-csharp/issues/176#issuecomment-643103460 is the proposed solution.

[2020-06-15 00:15] phxnsharp commented on #177
@yurishkuro Hopefully I have been faithful to the project rules. Thanks!

[2020-06-15 17:28] phxnsharp opened #181 "Lost Spans on Tracer Dispose"
## Requirement - what kind of business use case are you trying to solve?

Instrumenting a Managed C++ application with Jaeger using jaeger-client-csharp. The application is a short-lived process that is often run multiple times in parallel to solve portions of a larger problem.

## Problem - what in Jaeger blocks you from solving the requirement?

Even when Tracer.Dispose is properly called, spans

[2020-06-16 12:10] phxnsharp commented on #181
Interestingly, with the proposed change if you set RemoteReporterTests._closeTimeout to longer, it doesn't change the failures. It only takes longer to fail. This indicates to me that there is some type of deadlock happening during shutdown.

[2020-06-16 14:56] Falco20019 commented on #176
@ykvichare: If @yurishkuro can't supply us with know-how on if the `jaeger-agent` has integrated client certificate support, https://github.com/jaegertracing/jaeger-client-csharp/issues/176#issuecomment-643103460 is your best shot. I might look into having an option for `HttpSender.Builder` to use your own `HttpClient`, that would solve it too. But sadly, I currently have no time for this.

[2020-06-16 15:26] Lercher commented on #176
see https://github.com/jaegertracing/jaeger/issues/1993#issuecomment-569951667

[2020-06-22 21:08] notcool11 opened #183 "Default Hexadecimal ToString Removing Leading Zeros"
## Requirement - what kind of business use case are you trying to solve?
When getting the string representation of a span, I want the full tracing information instead of a minimized string.

## Problem - what in Jaeger blocks you from solving the requirement?
The ToString override in SpanContext is using the default Hexadecimal output .ToString("x")
[code]

The same problem happens in the Trace an

[2020-06-22 21:31] yurishkuro commented on #183
+1, there is a tracking ticket for this in the main repo: https://github.com/jaegertracing/jaeger/issues/1657

[2020-06-22 21:40] notcool11 commented on #183
Thanks for pointing that out and linking them.

[2020-06-22 21:52] Falco20019 commented on #183
@notcool11 @yurishkuro This has already been fixed in #171 but is not yet released as it‘s part of 0.4.0 milestone.

[2020-06-22 21:53] yurishkuro commented on #183
oh, great, I didn't know. I will relink the meta ticket to that PR. Closing this.

[2020-06-22 21:53] #183 closed

[2020-06-22 21:59] Falco20019 commented on #183
@notcool11 I try to release 0.4.0 soon. As it contains minor breaking changes, I hoped to add some more into it like the GrpcSender before releasing it. Most of the blockers are resolved. See #145 for parts of the discussion.

As this is currently a one-man-show here for C#, it sadly takes sometimes longer then appreciated. I currently don’t have a lot of spare time due to some projects, but I wil

[2020-06-22 22:09] yurishkuro commented on #183
@Falco20019 thanks for all your hard work on the C# SDK!

Given the 0.x version, sometimes it's not worth waiting for other breaking changes and just release what's available.

[2020-06-23 06:19] Falco20019 commented on #183
I thought I would also have the remaining tickets done in 1-2 weeks but then Corona hit. I will give it a look the next days and decide if I release 0.4.0 as is or if I can complete it.

Am 23.06.2020 um 00:10 schrieb Yuri Shkuro <notifications@github.com>:

﻿

@Falco20019<https://github.com/Falco20019> thanks for all your hard work on the C# SDK!

Given the 0.x version, sometimes it's not worth w

[2020-06-23 06:53] #177 closed

[2020-06-23 07:16] Falco20019 commented on #181
If `ProcessQueueLoop` and `FlushLoop` are properly written asynchronous functions, we wouldn't even need to call `Task.Factory.StartNew` on them, as this really only should be used with synchronous calls. We should try to make sure, that we don't call long-blocking synchronous code and use async all the way through. This way, `Task.Run` (which uses the thread pool) instead of `Task.Factory.StartNe

[2020-06-23 07:19] Falco20019 commented on #176
I will adjust the API to allow defining a user-owned `HttpClient` for `0.4.0` now.

[2020-06-23 07:45] Falco20019 commented on #176
@Lercher @ykvichare Sorry again for the delays. I adjusted the API so that you can call `WithCredentials` if you only want to add user credentials or use `WithHttpHandler` if you also need to adjust more stuff like `ServerCertificateCustomValidationCallback`. These can even be combined, depending on your preferences. I hope to release 0.4.0 soon. Just making sure there are no more things that coul

[2020-06-24 15:44] #139 closed

[2020-06-26 14:57] #176 closed

[2020-06-26 15:01] Falco20019 commented on #176
@Lercher @ykvichare 0.4.0 is now released. Hope this fixes your issues :)

[2020-06-26 15:27] ykvichare commented on #176
Yes it's fixed thank you for your help.

On Fri 26 Jun, 2020, 20:31 Benjamin Krämer, <notifications@github.com>
wrote:

[2020-07-08 15:26] silvairsoares opened #185 "Tracings not registered after upgrading to version 0.4.0"
Previously, using version "0.3.7", I was able to see the properly logged logs with the following structure:

1 - Class with extension method to configure OpenTracing:

    public static class DistributedTracing
    {
        public static void ConfigureOpenTracing(this IServiceCollection services, IConfiguration configuration)
        {
            services.AddSingleton<ITracer>(serviceProvider =>

[2020-07-08 16:52] Falco20019 commented on #185
Thanks for reporting. I will give it a look ASAP and if reproducible try to release a 0.4.1 fixing it. 0.4.0 had some big changes and I‘m sorry if there was something breaking.

[2020-07-08 17:07] silvairsoares commented on #185
Thanks for the quick return.
If you need any more details to help reproduce the problem, I’m available here.

[2020-07-09 15:46] GureevLeonid commented on #185
@silvairsoares

I think that breaking change was the splitting nuget packages, so ThriftSenderFactory is now enabled by default now.
And you need to add this line of code before creating tracer:

[code]

As it said there https://github.com/jaegertracing/jaeger-client-csharp/blob/master/src/Jaeger.Core/Senders/README.md

[2020-07-09 19:10] silvairsoares commented on #185
Thank you very much @GureevLeonid! The addition of the lines you suggested, solved my problem.

[2020-07-09 19:10] #185 closed

[2020-07-09 19:24] Falco20019 commented on #185
There should be a warning shown: „ No suitable sender found. Using NoopSender, meaning that data will not be sent anywhere!“

If not, this would be a bug. Of course, this only works if the logger factory was set up (which it should have been according to your excerpt).

[2020-07-15 12:00] #181 closed

[2020-07-15 12:04] #175 closed

[2020-07-17 14:43] NicolasReyDotNet opened #186 "Ignore ElasticSearch HealthCheck is not working"
## Requirement - what kind of business use case are you trying to solve?
Hi, I would like to avoid HealthCheck of Elasticsearch to be logged into Jaeger, it's spamming my logs. I work in debug with Elastic in a docker compose file, such as my apps which periodically checks its health using the package `AspNetCore.HealthChecks.Elasticsearch`.

## Problem - what in Jaeger blocks you from solving the

[2020-07-17 16:00] yurishkuro commented on #186
The configuration you're using, `Configure<AspNetCoreDiagnosticOptions>`, is not under control of Jaeger SDK, it's external instrumentation.

The Jaeger-specific option is to use remotely controlled sampler and configure sampling strategies on the backend to exclude healthcheck endpoints. However, that only works if the endpoints have distinct span names.

[2020-07-20 07:16] Falco20019 commented on #186
@NicolasReyDotNet The correct location to ask this is here: https://github.com/opentracing-contrib/csharp-netcore

[2020-07-20 07:16] #186 closed

[2020-08-05 07:17] AntonyNET commented on #155
Try this. It is work for me.

services.Configure<AspNetCoreDiagnosticOptions>(options =>
            {
                options.Hosting.IgnorePatterns.Add(context=> context.Request.Path.Value.EndWith("api/status");
            });

[2020-08-24 04:30] EngRajabi opened #188 "tracking manual object"
It is possible that cases where the socket class is made manually. Tracking done?

[2020-08-24 06:56] Falco20019 commented on #188
Hi, I sadly did not understand your use case. Can you explain it in more detail? How is the class manual, where is the socket connected to?

[2020-08-24 07:02] EngRajabi commented on #188
If the programmer uses the socket class and send and receive a series of data. Not shown in tracking

[2020-08-24 07:06] Falco20019 commented on #188
Are you using ASP.NET (Core) or a regular application?

[2020-08-24 07:20] EngRajabi commented on #188
im using asp core 3.1.
Yes
We had to use it manually in a number of places. For example, we would send a request to a service that uses the ISO 8583 protocol

[2020-08-24 07:25] Falco20019 commented on #188
Have you already tried using https://github.com/opentracing-contrib/csharp-netcore ? This should work, even when handling the socket data yourself as it integrates with the pipeline, as long as you only write to the body of the request directly. If not, you can still create a span by using dependency injection (to get the ITracer) and basically trace it manually. The library should make sure that

[2020-08-26 05:25] Afshin-Ofx commented on #162
@bastijnv you saved my day.
Was looking at why in a simple .net core webapi and all-in-one Jaeger I was not able to see the traces in Jaeger UI, which turns out my issue was with UdpSender. Changed that to HttpSender based on your code and It woks :)

[2020-08-28 12:04] BojanPantovic1989 opened #189 "RemoteReporter.cs blocking code issue"
Hello guys,

First of all, thank you for all the work on this library. We are using Jaeger and it's a life saver. Recently, we had some issues with performance and during the analyses we found that jaeger C# is blocking our thread.

 In our case, we have a .net core application inside a docker container, on a k8s cluster. When we put a limit on the container to be exactly 1 CPU, we see some perfor

[2020-08-31 08:41] Falco20019 commented on #189
Hi @BojanPantovic1989 and thanks for finding this issue. I will give it a look the next days. I just came back from vacation and have to look into some other topics first. Feel free to create a PR yourself addressing this issue to speed it up if you have time.

[2020-10-27 23:43] rparvizian-rbx opened #192 "Add *.proto files to the repo"
Could you please add the *.proto files for the jaeger tracer to the repo.
I'm trying to create a proxy, but I need the *.proto files that the jaeger tracer uses.

[2020-10-27 23:54] yurishkuro commented on #192
proto files are in https://github.com/jaegertracing/jaeger-idl repo

[2020-10-27 23:54] #192 closed

[2020-10-28 00:00] Falco20019 commented on #192
@rparvizian-rbx To not having to compile them yourself (in case you do the proxy in C#), just use the NuGet package `Jaeger.Communication.Grpc`. This is generated from the protos and only includes gRPC and the generated protobuf files. No more logic. If you need another language, take the protos from where @yurishkuro has pointed you. Generating C# yourself is no fun due to the gogoproto dependenc

[2020-11-01 18:26] EngRajabi commented on #189
Do not publish the version ??
We have a problem with version 0.4.1

[2020-11-01 18:28] #189 closed

[2020-11-08 17:18] EngRajabi opened #193 "buffer block size"
## Problem - If the maximum number of buffer blocks is filled. You can no longer run the update command
If the maximum number of complete blocks is filled. You can no longer run the update command.
It is possible that in some cases we reach the maximum number of block items and can no longer order the update. This situation may occur when, for example, the server is not available

[2020-11-15 13:15] Falco20019 commented on #193
Ad far as I recall, this is on purpose and also in other tracers the case. But the ones should timeout between the flushing cycles. This is what’s missing right now.

[2020-11-15 13:26] EngRajabi commented on #193
If the block value reaches a maximum, it is no longer possible to send the update command.
This happens when the connection between the microservice and the server is down or the central server is down

[2020-11-17 07:51] Falco20019 commented on #193
I checked again with the implementation of the reference client in go and this is intentional (see https://github.com/jaegertracing/jaeger-client-go/blob/master/reporter.go#L283). You define with the queue size how many items at maximum should be cached. All other added later on will be marked as dropped.

The only thing that might be missing is the timeout in the senders. I asked @yurishkuro abou

[2020-11-17 10:09] Falco20019 commented on #193
@EngRajabi The problem is not that our queue runs full when the server is not available, the problem is, that the senders flushing, triggered by the reporter, is blocking indefinitely. Once the senders timeout properly (most probably using a `CancellationToken` when calling `Flush` on the sender), the reporters flush will also return, freeing up the queue. So there is no need for making the `Remot

[2020-11-18 08:30] Falco20019 commented on #193
@EngRajabi I just did some tests and am not really able to see your problem. If the server is not available, the flushing should already fail as you can see here (with gRPC sender):
[code]

The same should be valid for the Thrift sender. Can you try to add more information on what your configuration is and when it happens? I understood, that you can not add more spans if your queue is already full

[2020-11-18 17:01] EngRajabi commented on #193
![Uploading Screenshot_20201118-202615_Chrome.jpg…]()

[2020-11-18 17:14] Falco20019 commented on #193
This is expected when the endpoint is configured but not reachable. Usually you have an Jaeger-Agent as sidecar configured with UDP on the same host which then pushes the data to the collector at it‘s own rate

[2020-12-02 14:47] elonmallin opened #196 "Configuration.FromIConfiguration gives a NoopSender but should give UdpSender"
## Requirement

We're using Jaeger and set it up with `Configuration.FromIConfiguration` which worked in v0.3.6 but updating to v0.4.2 we just get the `NoopSender`. Is it not possible anymore to use it with the below config to get the `UdpSender`?

[code]

According to this old issue it seems like it should be possible: https://github.com/jaegertracing/jaeger-client-csharp/issues/116#issuecomment-

[2020-12-02 14:54] Falco20019 commented on #196
@elonmallin Please add the following line before calling `Configuration.FromIConfiguration`:
[code]

On more information about why this was changed, have a look at the main README or https://github.com/jaegertracing/jaeger-client-csharp/blob/master/src/Jaeger.Core/Senders/README.md#notice.

[2020-12-02 15:38] elonmallin commented on #196
Thanks @Falco20019 that works! Guess I missed that page when searching the repo for NoopSender, was trying to dig a bit in the code instead xP Cheers

[2020-12-02 15:38] #196 closed

[2020-12-10 20:26] lonewolf3739 opened #197 "Code generation with protobufs for jaeger exporter"
For some context: https://github.com/jaegertracing/docker-protobuf/issues/24

@Falco20019 Yuri Shkuro directed me here. I am opening this issue to get help in understanding how you generated the code for protobuf. C# is the only client that has grpc support as of now and seems like it got added recently. I had been facing problems with gogo and other indirect import from `model.proto` and `collect

[2020-12-10 20:53] Falco20019 commented on #197
@lonewolf3739 It‘s not that easy to do. I had to include the gogoprotos to generate everything. You can find the generated code here:
https://github.com/jaegertracing/jaeger-client-csharp/tree/master/src/Communication/Jaeger.Communication.Grpc

The easiest way to use the C# protos is to just reference the generated code. I packaged them as `Jaeger.Communication.Grpc` and put them on NuGet.

To gen

[2020-12-10 21:16] lonewolf3739 commented on #197
@Falco20019 Thanks for the explanation. I need to generate code for python which is why I am interested in knowing the steps you took to generate.

Yes, I tried with this and it generated the code for jaeger protos from idl repo but when I try to use them in project it was giving error.

Is it something like you downloaded the `gogo.proto`, `google/protobuf/*.proto` etc from their source and tried

[2020-12-11 06:35] Falco20019 commented on #197
Sorry, I should have read the original context better to see that you need python.

I think it could be enough to update the Makefile from IDL here:
https://github.com/jaegertracing/jaeger-idl/blob/52fb4c944067f7661e6a5fa23ba4c44c6f9c2923/Makefile#L87-L89

It might be enough to add `--python_out=${PROTO_GEN_PYTHON_DIR}` to the end and escape the line break in line 89. Not sure if the python genera

[2020-12-11 10:07] lonewolf3739 commented on #197
Yes, this seems to work. I generated the files and so far it is working fine. I have made the changes here https://github.com/jaegertracing/jaeger-idl/pull/67. I will implement sending spans with exporter and check end to end. Thank you.

[2020-12-12 00:20] #197 closed

[2020-12-17 19:14] anilcansutaner opened #198 "Is there anyway to change THttpTransport ._connectTimeout prop value?"
Hello ,

First of all , thank you for such a great project.  I tried to integrate csharp client to Net Framework project. When I published our code to live, we experienced with CPU spikes and thread exhaustion. I think that when the jaeger collector api doesnt work fine,  threads are waiting for 30 sec to get answer. Is there anyway to change this static value ?

Thank you

[2020-12-18 08:37] Falco20019 commented on #198
Hi, can you please post the code snippet how you setup Jaeger since this has effects on what senders are used.

[2020-12-24 17:56] js8080 opened #199 "Thrift.UdpSender not sending Span even though it's under MaxSpanBytes"
## Requirement - what kind of business use case are you trying to solve?
I am attempting to send Spans to the Jaeger Agent via the Thrift.UdpSender that are over 65000 bytes.

## Problem - what in Jaeger blocks you from solving the requirement?
I have my Jaeger Agent configured to accept Spans that are quite large via the following Agent CLI parameter:
[code]

I then create a Span in my ASP.NET Co

[2020-12-24 19:11] js8080 commented on #199
After further investigation and debugging the code from source, I see the reason why I am not getting an logger output when my Span size exceeds the configured limit:

In `Jaeger.Reporters.RemoteReporter.ProcessQueueLoop` the `SenderException` is caught and recorded the dropped span count metric but not written to `_logger`:
[code]

[2020-12-24 19:42] yurishkuro commented on #199
Not recommended. Even on local host network packets larger than 64k can be fragmented, and the Jaeger agent was never designed for or tested to handle that.

[2020-12-25 01:02] js8080 commented on #199
If I bypassed the Agent and sent straight to the Collector via HTTP, would that allow me to send larger Spans? I don't really want to do that but I may need to support larger Spans.

[2020-12-25 02:03] yurishkuro commented on #199
Yes, you can do that but not with UDP. This SDK supports submitting spans via grpc/proto, I recommend using that.

[2020-12-28 18:45] js8080 commented on #199
OK, I will explore those options if I need them. What should we do to address the issue documented here though? The Jaeger C# Client has a max packet size setting but then doesn't seem to truly respect it or at least going above 65k bytes does not work. Should there be a change to code a max value for the setting so people are not mislead by the availability of this option?

[2020-12-28 20:17] yurishkuro commented on #199
What do you propose?

[2020-12-29 15:12] js8080 commented on #199
Would a documentation update actually be sufficient?

[2020-12-29 15:54] yurishkuro commented on #199
It's a start. It might have been a mistake to expose max packet size as configurable.

[2020-12-29 16:09] js8080 commented on #199
Should the setting just be deprecated then? I don't know how painful that will be to break backward compatibility.

[2020-12-29 17:12] yurishkuro commented on #199
I also don't know if/how people are using this config option. I wouldn't deprecate it, but we could add a warning to the description "not recommended to exceed 64KiB to avoid packet fragmentation".

[2020-12-30 17:36] js8080 commented on #199
That seems reasonable to me.

[2021-01-04 20:34] allanShady commented on #162
@Falco20019 and @bastijnv I just want to thank you and let everyone know that I fixed a similar issue by adding the composite Reporter.

Before
[code]
After
[code]

[2021-01-06 12:16] ttanga commented on #199
Could be better to adjust span and try to calculate size again instead of throwing here

[code]

eg remove/truncate logs plus adding some specific tag

[2021-01-06 12:56] Falco20019 commented on #199
Sorry for the late response. I‘m currently out of office and will have a look next week when I‘m back.

[2021-02-18 08:09] yoramda opened #201 "Jaeger agent as k8s sidecar on different namespace from observability namespace not working"
Hi,

Jaeger installed as Jaeger operator on observability  namespace
My app deployment with sidecar annotation:

apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-name
  annotations:
    "sidecar.jaegertracing.io/inject": "true"

Here is the environment setting that was created automatically by the sidecar:
JAEGER_SERVICE_NAME=xxxx-jet-apigateway.xxxx-jet-dev
JAEGER_PROPAGATION=jaeger,

[2021-02-18 10:18] yoramda commented on #201
tried to use it without agent host & port like this :

services.AddOpenTelemetryTracing((builder) => builder
                            .SetResourceBuilder(ResourceBuilder.CreateDefault().AddService(k8sAppName))
                            .AddAspNetCoreInstrumentation(
                               (options) => options.Filter =
                                   (httpContext) =>

[2021-02-18 11:45] yoramda commented on #201
I have used the following tracer library
https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/examples/AspNetCore/Startup.cs

[2021-02-18 12:04] yoramda commented on #201
whitch library is beter to use for kubernetes support  ?
https://github.com/jaegertracing/jaeger-client-csharp
OR
https://github.com/open-telemetry/opentelemetry-dotnet

[2021-02-18 18:48] Falco20019 commented on #201
The open telemetry exporter has it‘s own implementation and is, AFAIK, not using this library in any way. So if you plan on using that library, you need to ask at https://github.com/open-telemetry/opentelemetry-dotnet

jaeger-client-csharp should work fine with k8s and allows instantiation from environment. Examples on how to create your tracer from environment can be found in the main README of t

[2021-02-19 18:52] yoramda commented on #201
Hi,

I have refactor my code to use the recommended library 👍 https://github.com/jaegertracing/jaeger-client-csharp,
now the agent is not sending the traces to the collector at all.

here is my client code
`// Adds the Jaeger Tracer.
            services.AddSingleton<ITracer>(serviceProvider =>
            {
                string serviceName = serviceProvider.GetRequiredService<IWebHostEnvironmen

[2021-02-19 19:04] Falco20019 commented on #201
I assume this code was taken from https://github.com/opentracing-contrib/csharp-netcore/blob/master/samples/netcoreapp3.1/Shared/JaegerServiceCollectionExtensions.cs ? When using ASP.NET Core, you might want to use opentracing-contrib/csharp-netcore which helps with binding all the calls. The code you wrote only instantiates the tracer but doesn’t do anything by itself.

https://github.com/opentra

[2021-02-20 09:57] yoramda commented on #201
Hi,
My goal is to setup jaeger operator for k8s with elastic storage and production strategy.
I am tiring to use jaeger-agent as a sidecar, by adding jaeger-agent annotation to my app deployment, is it good or bad practice ? is it better to report directly to the collector  ?
jaeger-agent with udpSender using UDP, is it better from performance perspective ?

I can see that on
https://github.com/op

[2021-02-20 10:05] Falco20019 commented on #201
Usually it‘s the default case to have jaeger-agent as endpoint from your application as side car since UDP has a lot less overhead than HTTP over TCP. So the side car collects some traces and then aggregates them to reduce the HTTP calls to the collector. This should also increase the throughput and unblock your application from waiting for HTTP calls to safely return.

The code you mentioned writ

[2021-02-20 15:36] yoramda commented on #201
Hi,

I have tried to call the "http://localhost:14268/api/traces", but that didn't help, still no traces are reported at all.
i am starting to think that i may have a network access problem between my app deployment namespace and the observability namespace, i tried to setup the the role binding as it says at the Jaeger documentation

https://www.jaegertracing.io/docs/1.21/operator/ :

"
When not

[2021-02-20 15:38] Falco20019 commented on #201
Sorry, but I‘m not too deep into k8s myself. So I‘m not a big help here. But maybe someone else is able to help you. @yurishkuro do you know some more?

[2021-02-20 22:21] yoramda commented on #201
Here is the jaeger-agent (sidecar) container arguments

--agent.tags=cluster=undefined,container.name=xxx-customermanagement-api,deployment.name=xxx-customermanagement-api,host.ip=${HOST_IP:},pod.name=${POD_NAME:},pod.namespace=xxx-dev5
--reporter.grpc.host-port=dns:///simplest-collector-headless.observability.svc:14250

[2021-02-21 15:45] yoramda commented on #201
Hi,

The jager-agent as a sidecar is not working, i will open another issue to the jaeger operator gitub.
When i am bypassing the local sidecar agent and call the collector directly with httpSender

`IReporter reporter = new RemoteReporter.Builder()
                //.WithLoggerFactory(loggerFactory)
                   .WithSender(new HttpSender.Builder(new Uri("http://simplest-collector.observabi

[2021-02-21 15:57] yurishkuro commented on #201
Jaeger SDKs support both short (64bit) and long (128bit) IDs. Short IDs are on by default, you need to enable 128bit IDs.

[2021-02-21 16:07] Falco20019 commented on #201
Using `Configuration.FromEnv()`, you would need to set the following variables:

[code]

[2021-02-22 07:38] yoramda commented on #201
Hi,

JAEGER_TRACEID_128BIT = true solved the problem and now it is  generating 128bit trace id format, but it looks like the w3c traceId on my console log is different that the one created by Jaeger Trace object.

Any Ideas ?
Thanks in advanced.

[2021-02-22 07:52] Falco20019 commented on #201
Sorry, I missed that you use w3c traces. There is an open issue to implement the w3c headers: https://github.com/jaegertracing/jaeger-client-csharp/issues/90

In the README for `JAEGER_PROPAGATION` you can see, that only `jaeger` and `b3` are supported right now. If you are forced to use `w3c`, I could check what's missing.

[2021-02-22 08:05] yoramda commented on #201
Thanks,

to reproduce the problem , i have modify the program.cs on the CustomerApi as follow and add the ConfigureLogging.
is it possible to print to the console log the traceId & spanId & parentId, for example :

[22-02-2021 10:03:43]info: Microsoft.AspNetCore.Mvc.StatusCodeResult[1]
      => ConnectionId:0HM6N11EEK2UU => RequestPath:/customers/100 RequestId:0HM6N11EEK2UU:00000001, SpanId:cfd85f

[2021-02-22 08:11] Falco20019 commented on #201
The main problem with w3c is, that the header names are different. So we need to implement the propagation that knows where to read the IDs from. In your case, even when you get the request from a w3c trace, it will just create a new one instead of appending that one, since it doesn't know the header.

We already started implementing it, but never finished it since there was no need yet: https://g

[2021-02-22 08:22] yoramda commented on #201
Thanks,

How can i switch to jaeger or b3 format ?

[2021-02-22 17:45] Falco20019 commented on #201
`JAEGER_REPORTER_LOG_SPANS = true` for environment. Or the `LoggingReporter` like you did in a `CompositeReporter` together with the `RemoterReporter` using a `HttpSender` (a lot more complex).

[2021-02-22 22:44] yoramda commented on #201
Thanks a lot, It's working great !!
Regarding the W3C propagation, I will  be happy to assist on testing it.

[2021-02-23 13:21] yoramda commented on #201
Hi,

JAEGER_REPORTER_LOG_SPANS = true printing the :
[23-02-2021 15:16:53]info: Jaeger.Reporters.LoggingReporter[0]
      Span reported: c94e123685f801601cbb905515f40081:1cbb905515f40081:0000000000000000:1 - HTTP GET
for Jaeger.* classes only, but not for my custom class MyClassTest .

Here is my appsettings.json
"Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft": "Warnin

[2021-02-24 05:49] Falco20019 commented on #201
What is your custom class doing? `JAEGER_REPORTER_LOG_SPANS` only enables logging problems and the finishing of spans. Your custom class needs to use `ILoggerFactory` as usual by itself.

[code]

What namespace is your class in? Your configuration needs to match the qualified name with namespace and not just the class name. But that’s default Microsoft Logging and not related to Jaeger itself as w

[2021-02-24 08:21] yoramda commented on #201
Thanks,

I have implemented custom console provider for that .

[2021-02-24 14:21] EventHorizon1024 opened #202 "Jaeger server loses the refrence data of spans received from csharp client when using grpc sender."
Jaeger Version 1.17
nuget packages used in client:
+ Jaeger" Version="0.4.2"
+ Jaeger.Senders.Grpc Version="0.4.2"

When I open the Trace Graph page in jaeger ui, it shows nothing due to all the refrence field of spans are all emty.

After comparing the logic of [`JaegerGrpcSpanConverter` ](https://github.com/jaegertracing/jaeger-client-csharp/blob/e3b70cdff25dc6406883b6b0681daa10e28441de/src/Send

[2021-02-24 14:58] yoramda commented on #201
Hi,

First, this a great library, thanks for the Good work !

Logs (when opening the accordion) on the Jaeger-UI is a bit strange .

For example:
`Microsoft.AspNetCore.Routing.EndpointMatched is not exists in the console log, but exists in the Logs UI `

Another Example, exsists on the console log, but not showing on the Logs UI,  sql is not logged
`[2021-02-24 04:15:03]-[Information] Microsoft.En

[2021-02-24 21:45] Falco20019 commented on #201
There are two logging contexts. One from the logger framework (ILoggerFactory) and a second one from the Jaeger Tracing framework. The first ones are not automatically logged into the second or vice versa and also not linked together.

There are ways to connect both, like using Serilog as logger framework (compatible to Microsoft.Extensions.Logging) and using an Enricher to add the current traceID

[2021-02-25 15:47] Falco20019 commented on #202
You mostly got it right. The gRPC span is missing the parentSpanId that Thrift has. Therefore, we must add all references and must not skip the parent. Thanks for noticing!

[2021-02-25 16:23] #202 closed

[2021-02-25 16:54] Falco20019 commented on #202
I just release `0.4.3`. You sould be fine to just reference `Jaeger.Senders.Grpc` without additionally `Jaeger`. If you address `Jaeger`, you will also add the `Thrift` stuff which you don't need.

[2021-02-25 20:16] yoramda commented on #201
Thanks for your explanation, the tutorial was very useful !

I have implemented custom console logger, and injected the TraceId, SpanId, ParentId .
Also inside the custom logger(logger framework (ILoggerFactory)) I am writing the logs to the jaeger tracer span.Log(), do you see any problem with this approach ? by the way it is working fine .

I have already implemented  Prometheus and Grafana  for

[2021-02-26 19:26] Falco20019 commented on #201
It‘s fine to log to the traces of you don’t have a separate logging endpoint. If you have a separate one, you would try to avoid the duplication and instead link the traces to the logger by annotating the logs with the traceID + spanID.

I will close the issue since your problem is solved. You can still add messages to it if you feel a need for it or create a new one if it‘s not fitting this issue

[2021-02-26 19:26] #201 closed

[2021-03-08 14:26] Blackbaud-ChristiSchneider opened #204 "ApacheThrift reference update for security vulnerability"
ApacheThrift versions < 0.14.0 have a reference to System.Net.Http.WinHttpHandler v4.5.2 with [CVE-2017-0247](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2017-0247) with a 7.5/10 severity rating.

This library [references](https://github.com/jaegertracing/jaeger-client-csharp/blob/v0.4.2/src/Communication/Jaeger.Communication.Thrift/Jaeger.Communication.Thrift.csproj#L11) Apache

[2021-03-08 16:05] yurishkuro commented on #204
The CVE seems to relate to server-side handlers, not client-side code.

[2021-03-14 10:01] razbezhkin commented on #178
Hello.
I use jaeger(v 0.3.7) in test .net framework 4.7.2 console app.
in console i see this text:

--------------
work
info: Jaeger.Configuration[0]
      Initialized Tracer(ServiceName=jaegerTester, Version=CSharp-0.3.7.0, Reporter=CompositeReporter(Reporters=RemoteReporter(Sender=UdpSender(UdpTransport=ThriftUdpClientTransport(Client=127.0.0.1:6831))), LoggingReporter(L
ogger=Microsoft.Extensio

[2021-03-14 15:14] razbezhkin commented on #178
Sorry for everyone.
in my test program I do not make delay before exit and jaeger did not have time to send data to agent. when i make Console.ReadLine(), data was sended to server.
Thanks all.

[2021-03-14 18:16] Falco20019 commented on #178
Just make sure to dispose your tracer when closing your application. This will ensure it at least tries to send the spans before exiting.

[2021-04-05 14:26] BatanGaming opened #207 "Incorrect trace with envoyproxy"
In my app I have 2 `envoyproxy` gateways with enabled tracing and some web services. When I do request to web service I expect to see one trace with 3 services but instead I get 2 traces - first with 2 gateways and second with web service.
First trace:
![](https://i.imgur.com/FFqJyWb.png)
Second trace:
![](https://i.imgur.com/eiMCj0r.png)
What's wrong with it? `envoyproxy` uses `zipkin` tracing. M

[2021-04-05 16:13] Falco20019 commented on #207
It looks like there is some disconnect between the traces. Maybe not all systems are configured to use Zipkin? All need to use the same system, otherwise the trace IDs might not get picked up.

[2021-04-05 16:21] BatanGaming commented on #207
For now there are only 2 gateways (which are configured to use Zipkin) and one asp.net core web application which is using this jaeger client. So, do I need to configure asp.net core app to use Zipkin? If so, how to do it?  Now it's configured to send traces to `http://jaeger:14268/api/traces` (which I guess standard path for http traces) and nothing else.

[2021-04-05 18:18] Falco20019 commented on #207
Either set the environment `JAEGER_PROPAGATION` to `b3` or when using the `Configuration` helper, use `WithCodec` to give it an instance of `CodecConfiguration` configured using `WithPropagation(Propagation.B3)`.

[code]

[2021-04-06 06:17] BatanGaming commented on #207
Thank you very much. I did this configuration and everything works fine
[code]

[2021-04-06 06:17] #207 closed

[2021-04-06 09:12] BatanGaming commented on #207
Hi again, I have a few more questions:
1. How properly disable tracing for `Entity Framework`?
2. I added some decorator for `MediatR` request handling and then in UI I got `invalid parent span IDs`, so span's order is incorrect
![](https://i.imgur.com/eDTSVvy.png)
(last span should be child of first span);
3. What does warning `clock skew adjustment disabled` mean and how to disable/fix it?

Deco

[2021-04-06 11:22] Falco20019 commented on #207
One question upfront: Are you using ASP.NET Core? If yes, you might want to use https://github.com/opentracing-contrib/csharp-netcore in combination with this library.  I assume you already do something like that, otherwise, entity framework should not log anything.

You don't have to add `.AsChildOf(_tracer.ActiveSpan.Context)` since this is done automatically and handled correctly if it's the fi

[2021-04-06 12:13] BatanGaming commented on #207
Thank you very much for your reply.

1. Yes, I'm using ASP.NET Core and now I understand what `AddOpenTracing()` for, thanks for explanation.
2. I put it incorrectly. At screenshot it's not the first span in a trace. So, I removed `.AsChildOf(...)` and nothing's changed. I can't quite understand how to use `ScopeManager` in this case.

[2021-04-06 13:25] smitcham opened #208 "4.3 release not available in Nuget"
I see that there's a 4.3 release from Feb 25, but this hasn't been updated in the Nuget package repository.  We've got a set of services that have updated to 4.3 Jaeger that are failing and I'm going to have to take several days to downgrade things because of missing methods.

[2021-04-06 16:22] Falco20019 commented on #208
I just checked and it‘s definetly on NuGET. There are only two packages on 0.3.7 which are the deprecated Thrift ones. These should not have been referenced directly, only through `Jaeger`. What is your setup? If you use Thrift, just make sure to add `Jaeger` without any other dependencies. These will always be included automatically.

![165FBB4A-12A4-4C2D-B9A3-3D60788FF306](https://user-images.gi

[2021-04-06 21:44] smitcham commented on #208
![image](https://user-images.githubusercontent.com/82305/113781997-206c7780-96f7-11eb-91b1-41f468376274.png)
this is the one that is missing.   However, the inclusion of this package in our downstream projects was an artifact of references not getting cleaned up correctly, since the 4.3 packages don't reference it anymore.

[2021-04-06 21:44] #208 closed

[2021-04-06 21:52] Falco20019 commented on #208
Glad that you figured it out :) We were able to finally use the official `ApacheThrift` package since `0.4.0` and therefore stopped vendoring it ourselves. This should also make it easier in the future and reduce name conflicts.

We also decided with that version to split senders and communication up and to make the core package agnostic. This also allowed only having gRPC as communication without

[2021-04-07 05:33] Falco20019 commented on #207
I did something similar here:
https://github.com/opentracing-contrib/csharp-grpc/blob/master/src/OpenTracing.Contrib.Grpc/Handler/InterceptedServerHandler.cs#L69-L84

https://github.com/opentracing-contrib/csharp-grpc/blob/master/src/OpenTracing.Contrib.Grpc/GrpcTraceLogger.cs

You might want to call `Finish` on the span to terminate it right where you want. This ensures the flow is as expected, i

[2021-04-07 05:54] BatanGaming commented on #207
Ok, I'll try, thank you very much

[2021-04-07 09:34] kou-h opened #209 "Warnings :invalid parent span IDs=5de506523c95fe6d; skipping clock skew adjustment"
How can I solve it。
.net 5
![image](https://user-images.githubusercontent.com/70868445/113844715-c095cf80-97cf-11eb-9e3b-5262b584a0bf.png)

[2021-04-07 09:45] Falco20019 commented on #209
This also occurred in #207 yesterday, so maybe something changed in the server side. I will consult @yurishkuro about this. Thanks for reporting.

[2021-04-07 12:49] yurishkuro commented on #209
the message means there is parent span id present on the root span, but the parent span itself is missing

[2021-04-07 16:07] Falco20019 commented on #209
So sounds like some spans were not finished and therefore not transmitted. Please make sure to call `Finish` on the span to finalize it and also make sure to dispose the tracer when the application ends. Otherwise, it can happen that some spans get lost on end.

[2021-04-08 03:25] kou-h commented on #209
OK, I see. Thank you

[2021-04-08 03:28] kou-h commented on #209
OK, I see. Thank you。
Sorry, there's one more question. I don't want to upload the information printed by c#ilogger to Jaeger. Is there any way to solve it.
![image](https://user-images.githubusercontent.com/70868445/113964146-deae0f00-9865-11eb-8489-3941b29b6ae2.png)

[2021-04-08 05:43] Falco20019 commented on #209
These are not from the `ILogger`. These are from `span.Log` calls. I assume you use `OpenTracing.Contrib.NetCore`, so what you see is what is documented here: https://github.com/opentracing-contrib/csharp-netcore#microsoftextensionslogging-based-instrumentation

You can disable log entries you are not interested in from within you Startup code:
[code]

These are namespaces and you can work with pr

[2021-04-08 06:43] kou-h commented on #209
Thank you very much. With AddOpenTracingCoreServices the problem can be solved.

[2021-04-08 06:44] #209 closed

[2021-04-08 06:56] Falco20019 commented on #207
@BatanGaming In #209 we had the same issue. Finishing the span and disposing the tracer on shutdown solved the problem. If not disposed, it can happen that the span is not yet sent and the application stops prematurely leading to the loss.

[2021-04-08 07:20] BatanGaming commented on #207
Oh, yeah, I've tried this already and it works. Thank you and sorry for not notifying you

[2021-04-19 11:53] #198 closed

[2021-04-19 11:54] Falco20019 commented on #198
@anilcansutaner Feel free to reopen if this is still a problem.

[2021-04-19 11:54] #193 closed

[2021-04-19 11:55] #188 closed

[2021-04-19 11:55] Falco20019 commented on #188
Feel free to reopen if still relevant.

[2021-04-19 11:56] #204 closed

[2021-04-19 11:57] Falco20019 commented on #145
I look into finally releasing 1.0.0 since there haven't been any big issues lately and the crucial changes were also through.

[2021-04-19 12:24] Falco20019 commented on #199
I will limit the max value. Usually, this should not be changed by the user (only to limit it further down on problems).

[2021-04-19 16:36] #199 closed

[2021-04-19 16:44] Falco20019 commented on #145
We just release our first major version. Thanks to everyone for the support!

[2021-04-19 16:44] #145 closed

[2021-05-05 15:55] object opened #211 "TypeLoadException when using latest version of Apache Thrift (0.14.1)"
## Requirement - what kind of business use case are you trying to solve?

Using distributed tracing with Jaeger and UDP sender in .NET 5.0 application

## Problem - what in Jaeger blocks you from solving the requirement?

A minimal console app written in C# works fine as long as ApacheThrift version 0.13.x or earlier is used. Recently Thrift was updated, and if I reference version 0.14.x (I tested

[2021-05-05 17:01] Falco20019 commented on #211
Looks like the Thrift team broke with the public API. Since it’s a 0.x version, there is officially no enforced forwards compatibility. We can check if it‘s possible to get it working again or if it‘s possible to have a workaround. If not, we might just need to update and fix it for latest version usage.

[2021-05-21 10:22] markusstephanides commented on #115
Hi, any updates on the Prometheus integration?

[2021-05-22 10:31] Falco20019 commented on #115
Not actively working on it. Would be great to get some feedback what metrics you would be interested in. Are those offered currently enough? Are you missing some? Please have a look at https://github.com/jaegertracing/jaeger-client-csharp/blob/master/src/Jaeger.Core/Metrics/MetricsImpl.cs

[2021-05-24 18:24] yury-kozlov commented on #178
@Lercher Can you please advise how the problem solved on your end ? I'm facing the same issue: when creating a console application for `.net framework 4.6.1` and adding nuget `Jaeger 1.0.0` with a code below I got exception `Could not load file or assembly 'Thrift, Version=0.13.0.0, Culture=neutral, PublicKeyToken=5792536a45833b9f'`
[code]

[2021-05-24 19:36] Falco20019 commented on #178
@yury-kozlov Make sure to not reference `ApacheThrift` directly but to use the the one coming from referencing `Jaeger`. Otherwise, there might be problems. Let me know if that removes your problem, otherwise I will give it another look.

[2021-05-24 19:48] yury-kozlov commented on #178
@Falco20019 what do you mean:

As a nuget reference I only added official `Jaeger` package without anything else (based on clean console application project with .net 4.61).
As a class reference I only used `Jaeger.Senders.Thrift.ThriftSenderFactory` which comes from jaeger package (see code example above).

[2021-05-24 19:54] Falco20019 commented on #178
Can you check if you have a `Thrift45.dll` in your folder? This issue above happens when you have a .NET project, referencing `ApacheThrift` directly. This will lead to the project using the .NET Framework 4 version instead of the .NET Standard Version and therefore will not work.

This should not happen if you do not reference `ApacheThrift` directly and only reference `Jaeger`. Can you post your

[2021-05-24 20:26] yury-kozlov commented on #178
Yes I do have `Thrift45.dll` in the bin\debug folder.
Yes this is a minimal .net framework 4.6.1 projected created from a default Visual Studio 2017 template (console application).
The same issue happens with a minimal .net framework 4.7.2 project.

This is csproj from framework 4.6.1:
[code]

[2021-05-25 04:40] Falco20019 commented on #178
I think you need to use `PackageReference` instead of `packages.config` for .NET Standard packages to correctly work. There should be an option to convert the project or it should have asked you what to use.

You can also use the new SDK-style csproj format with `TargetFramework` set to to `net461`.

[2021-05-25 07:32] rechkalov opened #212 "Could not load assembly Thrift under .net framework 4"
**Describe the bug**
When a project targeting framework net472 initializes Jaeger.Senders.Thrift.UdpSender it gets exception "System.IO.FileLoadException: Could not load file or assembly 'Thrift, Version=0.13.0.0, Culture=neutral, PublicKeyToken=5792536a45833b9f' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0

[2021-05-25 19:16] Lercher commented on #178
Hi all, everything was already answered by https://github.com/jaegertracing/jaeger-client-csharp/issues/178#issuecomment-643266115 As far as I remember, I just removed all references and added only the Jaeger one via nuget. Here is an excerpt from one of my vb.net project files. Hope that helps.

[code]

My app.config contains nothing special.

[2021-05-25 19:28] yury-kozlov commented on #178
Thank you @Lercher. As I understand, your nuget is `Jaeger, Version=0.3.7.0`, where everything works fine.
The issue probably started happening in newer versions of Jaeger, for example I experience it in the latest `"Jaeger" version="1.0.0"`.

@Falco20019 This may be related: [Could not load file or assembly Thrift, Version=0.13.0.0](https://github.com/open-telemetry/opentelemetry-dotnet/issues/56

[2021-05-25 19:42] Falco20019 commented on #178
That‘s a manual workaround that usually should not be necessary. I will need to look into it but won‘t be able to do so until around Thursday :(

The problem here is the one that I linked earlier. The build chain is resolving the transitive dependency using .NET Framework 4.5 instead of .NET Standard 2.0 (which is wrong). But I don‘t really understand why it‘s doing that…

[2021-05-25 19:50] yury-kozlov commented on #178
Thanks!
On the example of `OpenTelemetry.Exporter.Jaeger` I see that in [their later commits](https://github.com/open-telemetry/opentelemetry-dotnet/pull/627/files) they removed the dependency `ApacheThrift` and copied apache sources directly into the package.
So now I'm not sure if their original fix of Thrift.dll was right :(

[2021-05-26 05:42] Falco20019 commented on #178
Since this issue was closed, let‘s continue the discussion on #212

[2021-05-26 05:49] Falco20019 commented on #212
Hi @rechkalov,

this issue was discussed in #178 in the past and seemed to be solved but reappeared. I will use that issue for continuing the discussion.

The problem with `ApacheThrift` seems to be, that the DLLs have different names for `net45` and `netstandard20` targets. `Jaeger` expects to get the `netstandard` variant (since it‘s `netstandard` itself).

I have seen some workarounds on forcin

[2021-05-27 12:51] Falco20019 commented on #212
@rechkalov I just looked into it and tried different solutions. It was sadly not possible to solve this with `ApacheThrift` in version `0.13` and we had to update to `0.14`. The issue is, that the `net45` version is not intended for use by `netstandard` and vice-versa. NuGet itself does not allow to pin a version as it always uses `nearest fit`. There are some workarounds to pin a version like dis

[2021-05-27 14:24] Falco20019 commented on #211
I rechecked what `ApacheThrift` changed, and the changes were pretty big (see https://github.com/apache/thrift/blob/0.14.1/CHANGES.md). Usually, Apache only offers upgrade inside of one 0.x version range. And the thrift files have to be generated using a matching version. So it's not easy to just update the reference in your project, since it will most probably break the generated code.

#213 will

[2021-05-27 17:49] #211 closed

[2021-05-27 17:49] #212 closed

[2021-06-02 13:11] vanbukin opened #215 "1.0.1 memory leaks"
**Describe the bug**
Recently I have upgrade library from 1.0.0 to 1.0.1. It cause high memory pressure and GC collects. Normally my apps have up to 10x gen0 collects, 4x gen 1 collects and 2x gen2 collects. After upgrade to 1.0.1 apps become utilize up to 400 collects per minute over all generations. Downgrade to 1.0.0 solve the problem.

**Version (please complete the following information):**

[2021-06-02 13:14] vanbukin commented on #215
Here is some dumps from app that might be helpful to debug

[linux.gcdump.zip](https://github.com/jaegertracing/jaeger-client-csharp/files/6584766/linux.gcdump.zip)
[linux.nettrace.zip](https://github.com/jaegertracing/jaeger-client-csharp/files/6584774/linux.nettrace.zip)

[2021-06-02 18:32] Falco20019 commented on #215
Hi @vanbukin, thanks for your report. The only change between 1.0.0 and 1.0.1 is the usage of the latest version of `ApacheThrift`. Do you know what objects are leaking?

[2021-06-03 08:58] vanbukin commented on #215
@Falco20019 I cant collect full dump of process from our production environment. So I don't know. Maybe leak is not in jaeger client, but somewhere in ApacheThrift library.

[2021-06-06 12:47] Meiri opened #216 "span size calculation issue"
im not sure its a bug, might be missing/wrong config

span size keep increasing in ThriftSender/AppendAsync

Steps to reproduce the behavior:
1.  basic asp.net 5.0 web api template
2.  in startup config:
`
services.AddOpenTracing(builder => {
                builder.ConfigureAspNetCore(options => {
                    options.Hosting.IgnorePatterns.Add(x => {
                        return x.Reque

[2021-06-07 05:33] Falco20019 commented on #216
Looks like a bug. We switched from our own `MemoryTransport` implementation to the one in `ApacheThrift`. Maybe they are not behaving the same.

I will give it a look the next hours.

[2021-06-07 06:02] Falco20019 commented on #215
Could be related to #216

[2021-06-07 06:03] Falco20019 commented on #215
@vanbukin What configuration are you using? Especially what sender?

[2021-06-07 07:14] Falco20019 commented on #216
@Meiri Thanks for your report. This was leading to a memory leak. I fixed it on the PR and will release it as `1.0.2` as soon it's reviewed since it's a critical bug.

[2021-06-07 07:17] Falco20019 commented on #215
@vanbukin Can you try if the artifacts from https://ci.appveyor.com/project/jaegertracing/jaeger-client-csharp/builds/39488632/artifacts solve your issue? There was an issue with resetting the `MemoryBuffer` which lead to lots of `Array.Resize` calls which could explain the behavior.

[2021-06-07 10:15] vanbukin commented on #215
@Falco20019

`RemoteReporter` with `UdpSender : ThriftSender` that use `ThriftUdpClientTransport`

I need a few days to try this

[2021-06-07 18:10] #216 closed

[2021-06-07 19:24] Falco20019 commented on #215
I will keep it open until you had a chance to test it with the new release

[2021-06-07 19:30] Falco20019 commented on #216
I just released `v1.0.2` which should resolve your issue. If you still run into issues, let us know!

[2021-06-08 11:41] Meiri commented on #216
happy to help,
thanks for the quick response

[2021-06-14 23:05] justinTM opened #220 "The type or namespace name 'Thrift' does not exist in the namespace 'Jaeger.Senders'"
**Describe the bug**
`Jaeger.Example.WebApi/Startup.cs(4,22): error CS0234: The type or namespace name 'Thrift' does not exist in the namespace 'Jaeger.Senders' (are you missing an assembly reference?)`

**To Reproduce**
Steps to reproduce the behavior:
1. clone repo locally
2. navigate to examples/Jaeger.Example.WebApi
3. run `dotnet run`
4. receive error `CSC : error CS8102: Public signing was s

[2021-06-15 05:10] Falco20019 commented on #220
Hi @justinTM,

Thanks for your report. Have your tried updating the NuGet references? They seem pretty old. Jaeger is at 1.0.2 and OpenTracing at 0.7.1 now.

Most people use the example at https://github.com/opentracing-contrib/csharp-netcore to get started with the Web usage. But since we have the example in here, it should at least work. Sorry for the inconvenience. I will look into it and fix i

[2021-06-15 07:15] Falco20019 commented on #220
@justinTM I just tried it locally using your steps provided. I don't get the message in step 4 and when using the `ProjectReference` (without adjusting the `csproj`) OR when using version `1.0.2` of `Jaeger`, it works flawlessly. I will update the `csproj` to contain the latest versions.

Can you check if the message in step 4 is also appearing when using the latest version? Are you also sure that

[2021-06-15 15:21] #220 closed

[2021-06-15 15:21] Falco20019 commented on #220
Please re-open if this did not solve your issue.

[2021-06-15 15:22] Falco20019 commented on #215
@vanbukin Any update so far?

[2021-06-21 15:42] justinTM commented on #220
so I deleted and re-cloned, cd'd into `examples/Jaeger.Example.WebApi`, then ran `dotnet run`... same error as in step 4 ("CSC : error CS8102: Public signing was specified and requires a public key, but no public key was specified.")

[2021-06-21 16:41] Falco20019 commented on #220
Are you sure you cloned master? It's neither happening on my machine nor on the build server.

Maybe you have a Directory.Builds.props (or target) file anywhere above in your folder structure up to root where you checked it out defining that requirement? Those files are all processed by the build chain. So maybe try cloning it into a clean environment (separate folder like root) if you are not sur

[2021-06-21 17:22] justinTM commented on #220
I think I figured it out. I had dotnet sdk 5. here's what I ran to get 3.1:
[code]

[2021-06-22 05:25] Falco20019 commented on #220
Still strange, since I'm also using the .NET SDK 5.0 on Windows without issues. Maybe that's a macOS thing, but it should behave similar on all platforms since all are maintained by Microsoft and not third parties.